{% extends 'base.html.twig' %}
{% block title %}
    {{ title }}
{% endblock %}

{% block breadcrumbs %}
    <li>
        <a href="{{ path('homepage') }}">Home</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <a href="{{ path('student_list') }}">Students</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <span>{{ observation.student.studentId }}</span>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <a href="{{ path('observation_student_list', { 'id': observation.student.id }) }}">Observations</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <span>{{ observation.name }}</span>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <span>Data</span>
    </li>
{% endblock %}

{% block pageTitle %}
    Data
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('theme/assets/global/css/components.min.css') }}">
    <link rel="stylesheet" href="{{ asset('theme/assets/global/plugins/datatables/datatables.min.css') }}">
    <link rel="stylesheet"
          href="{{ asset('theme/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('theme/assets/global/scripts/datatable.js') }}"></script>
    <script src="{{ asset('theme/assets/global/plugins/datatables/datatables.min.js') }}"></script>
    <script src="{{ asset('theme/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js') }}"></script>
    <script src="{{ asset('theme/assets/pages/scripts/table-datatables-managed.js') }}"></script>

    <script>
        $('ul.dropdown-menu li a').on('click', function(e) {
            e.stopPropagation();

            values = new Array();
            values.phaseId = $(this).data('phase-id');
            values.ids = new Array();
            values.phasename = this.text;

            $('.checkboxes:checked').each(function() {
                values.ids.push(this.value); //console.log(this.value);
            });

            $.ajax({
                url:"{{ path('observation_phase_save_observation_phase_data', {
                            'id': observation.id
                        })
                     }}",
                type:"POST",
                data: { phaseId: values.phaseId, ids: values.ids },
                success:function(response) {
                    window.location.replace("{{ path('observation_phase_list', {
                        'id': observation.id
                        })
                    }}");
                },
                error: function(xhr, status, error) {
                    console.log(xhr.responseText);
                }
            });
        });

        $('.delete-button').click(function( event ) {
            $('#confirm-delete').data('url', $(this).data('url'));
        });

        $('#confirm-delete').click(function( event ) {
            window.location.href = $('#confirm-delete').data('url');
        });

    </script>
{% endblock %}

{% block body %}
    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}

    <div class="row">
        <div class="col-md-22">
            <div class="portlet light portlet-fit bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <i class=" icon-layers font-dark"></i>
                        <span class="caption-subject font-dark bold uppercase">Observation phases</span>
                    </div>
                    <div class="actions">
                        <a id="add-button" class="btn btn-circle btn-icon-only btn-default" href="{{ path('observation_phase_new', { 'id': observation.id }) }}">
                            <i class="fa fa-plus"></i>
                        </a>

                        {% if observation.isSingleCaseDesign %}
                        <a id="data-analysis-button" class="btn btn-circle btn-icon-only btn-default" href="{{ path('data_analysis', { 'id': observation.id }) }}">
                            <i class="fa fa-line-chart"></i>
                        </a>
                        {% endif %}

                    </div>
                </div>
                <div class="portlet-body">
                    {% if observation.observationPhases | length == 0 %}
                        <div class="note note-info">
                            <h4 class="block">No phases defined!</h4>
                            <p> Please add the names of the phases of your observation (for instance "baseline", "intervention", etc...)</p>
                        </div>
                    {% endif %}

                    <div class="mt-element-step">
                        {% for record in records|batch(6) %}
                        <div class="row step-background">
                            {% if(record | length == 1) %}
                                {% set indexGrid = 12 %}
                            {% endif %}

                            {% if(record | length == 2) %}
                                {% set indexGrid = 6 %}
                            {% endif %}

                            {% if(record | length == 3) %}
                                {% set indexGrid = 4 %}
                            {% endif %}

                            {% if(record | length == 4 or record | length == 5) %}
                                {% set indexGrid = 3 %}
                            {% endif %}

                            {% if(record | length == 6) %}
                                {% set indexGrid = 2 %}
                            {% endif %}

                            {% for phase in record %}
                                <div class="col-md-{{ indexGrid }} bg-grey-steel mt-step-col">
                                    <div class="mt-step-number">{{ loop.index }}</div>
                                    <div class="mt-step-title uppercase font-grey-cascade">
                                        <sup class="badge badge-success">gathered data: {{ phase.dataIds | length }} </sup> {{ phase.name }}
                                    </div>
                                    <div class="mt-step-content font-grey-cascade">

                                        <a class="opaque btn btn-circle btn-icon-only btn-default" href="{{ path('observation_phase_edit', {'id': phase.id }) }}">
                                            <i class="fa fa-edit"></i>
                                        </a>

                                        <a class="delete-button btn btn-circle btn-icon-only btn-default" data-toggle="modal" data-url="{{ path('observation_phase_delete', {'id': phase.id }) }}" href="#basic">
                                            <i class="fa fa-trash"></i>
                                        </a>

                                        <!--
                                        <a class="opaque btn btn-circle btn-icon-only btn-default" href="{{ path('observation_phase_delete', {'id': phase.id }) }}">
                                            <i class="fa fa-trash"></i>
                                        </a>
                                        -->

                                        <a class="opaque btn btn-circle btn-icon-only btn-default" href="{{ path('data_list', {'id': phase.id }) }}">
                                            <i class="fa fa-list"></i>
                                        </a>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN EXAMPLE TABLE PORTLET-->
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption font-dark">
                        <i class="icon-settings font-dark"></i>
                        <span class="caption-subject bold uppercase"> Data categorization </span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="btn-group pull-right">
                            <button class="btn green  btn-outline dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                Phases
                                <i class="fa fa-angle-down"></i>
                            </button>
                            <ul class="dropdown-menu pull-right">
                                {% for record in records %}
                                    <li>
                                        <a data-phase-id="{{ record.id }}" href="javascript:;">
                                            <i class="fa fa-map-o"></i> {{ record.name }}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="portlet-body">
                    <table class="table table-striped table-bordered table-hover table-checkable order-column"
                           id="observation-phase-datatable">
                        <thead>
                        <tr>
                            <th>
                                <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                    <input type="checkbox" class="group-checkable" data-set="#observation-phase .checkboxes"/>
                                    <span></span>
                                </label>
                            </th>
                            <th> Dates</th>
                            <th> Phase</th>
                        </tr>
                        </thead>
                        <tbody>

                        {% for record in observationData %}
                            <tr class="odd gradeX">
                                <td>
                                    <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                        <input type="checkbox" class="checkboxes" value="{{ record.id }}"/>
                                        <span></span>
                                    </label>
                                </td>
                                <td>{{ record.value.createdAt.date | date('Y-m-d H:i:s') }}</td>
                                <td>
                                    {{ render(controller(
                                    'App\\Controller\\ObservationPhaseController::hasDataIdAction',
                                    { 'dataId': record.id }
                                    )) }}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>


                </div>
            </div>
            <!-- END EXAMPLE TABLE PORTLET-->

            <div class="modal fade" id="basic" tabindex="-1" role="basic" aria-hidden="true" style="display: none;">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                            <h4 class="modal-title">Warning</h4>
                        </div>
                        <div class="modal-body"> Are you sure you want to delete this phase?</div>
                        <div class="modal-footer">
                            <button type="button" class="btn dark btn-outline" data-dismiss="modal">Close</button>
                            <button id="confirm-delete" type="button" class="btn red" data-url="">Yes, delete</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}