{% use "bootstrap_base_layout.html.twig" %}

{# Widgets #}

{% block money_widget -%}
    {% if not valid %}
        {% set group_class = ' form-control is-invalid' %}
        {% set valid = true %}
    {% endif %}
    {{- parent() -}}
{%- endblock money_widget %}

{% block datetime_widget -%}
    {%- if widget != 'single_text' and not valid -%}
        {% set attr = attr|merge({class: (attr.class|default('') ~ ' form-control is-invalid')|trim}) -%}
        {% set valid = true %}
    {%- endif -%}
    {{- parent() -}}
{%- endblock datetime_widget %}

{% block date_widget -%}
    {%- if widget != 'single_text' and not valid -%}
        {% set attr = attr|merge({class: (attr.class|default('') ~ ' form-control is-invalid')|trim}) -%}
        {% set valid = true %}
    {%- endif -%}
    {{- parent() -}}
{%- endblock date_widget %}

{% block time_widget -%}
    {%- if widget != 'single_text' and not valid -%}
        {% set attr = attr|merge({class: (attr.class|default('') ~ ' form-control is-invalid')|trim}) -%}
        {% set valid = true %}
    {%- endif -%}
    {{- parent() -}}
{%- endblock time_widget %}

{% block dateinterval_widget -%}
    {%- if widget != 'single_text' and not valid -%}
        {% set attr = attr|merge({class: (attr.class|default('') ~ ' form-control is-invalid')|trim}) -%}
        {% set valid = true %}
    {%- endif -%}
    {{- parent() -}}
{%- endblock dateinterval_widget %}

{% block percent_widget -%}
    <div class="input-group{{ not valid ? ' form-control is-invalid' }}">
        {% set valid = true %}
        {{- block('form_widget_simple') -}}
        <span class="input-group-addon">%</span>
    </div>
{%- endblock percent_widget %}

{% block form_widget_simple -%}
    {% if type is not defined or type != 'hidden' %}
        {%- set attr = attr|merge({class: (attr.class|default('') ~ ' form-control' ~ (type|default('') == 'file' ? '-file' : ''))|trim}) -%}
    {% endif %}
    {{- parent() -}}
{%- endblock form_widget_simple %}

{%- block widget_attributes -%}
    {%- if not valid %}
        {% set attr = attr|merge({class: (attr.class|default('') ~ ' form-control is-invalid')|trim}) %}
    {% endif -%}
    {{ parent() }}
{%- endblock widget_attributes -%}

{% block button_widget -%}
    {%- set attr = attr|merge({class: (attr.class|default('btn-secondary') ~ ' btn')|trim}) -%}
    {{- parent() -}}
{%- endblock button_widget %}

{% block checkbox_widget -%}
    {%- set parent_label_class = parent_label_class|default(label_attr.class|default('')) -%}
    {%- set attr = attr|merge({class: (attr.class|default('') ~ ' form-check-input')|trim}) -%}
    {% if 'checkbox-inline' in parent_label_class %}
        {{- form_label(form, null, { widget: parent() }) -}}
    {% elseif 'form-check-inline' in parent_label_class %}
        <div class="form-check{{ not valid ? ' form-control is-invalid' }} form-check-inline">
            {{- form_label(form, null, { widget: parent() }) -}}
        </div>
    {% else -%}
        <div class="form-check{{ not valid ? ' form-control is-invalid' }}">
            {{- form_label(form, null, { widget: parent() }) -}}
        </div>
    {%- endif -%}
{%- endblock checkbox_widget %}

{% block radio_widget -%}
    {%- set parent_label_class = parent_label_class|default(label_attr.class|default('')) -%}
    {%- set attr = attr|merge({class: (attr.class|default('') ~ ' form-check-input')|trim}) -%}
    {%- if 'radio-inline' in parent_label_class -%}
        {{- form_label(form, null, { widget: parent() }) -}}
    {%- else -%}
        <div class="form-check{{ not valid ? ' form-control is-invalid' }}">
            {{- form_label(form, null, { widget: parent() }) -}}
        </div>
    {%- endif -%}
{%- endblock radio_widget %}

{% block choice_widget_expanded -%}
    {% if '-inline' in label_attr.class|default('') -%}
        {%- for child in form %}
            {{- form_widget(child, {
                parent_label_class: label_attr.class|default(''),
                translation_domain: choice_translation_domain,
                valid: valid,
            }) -}}
        {% endfor -%}
    {%- else -%}
        {%- if not valid -%}
            {%- set attr = attr|merge({class: (attr.class|default('') ~ ' form-control is-invalid')|trim}) %}
        {%- endif -%}
        <div {{ block('widget_container_attributes') }}>
            {%- for child in form %}
                {{- form_widget(child, {
                    parent_label_class: label_attr.class|default(''),
                    translation_domain: choice_translation_domain,
                    valid: true,
                }) -}}
            {% endfor -%}
        </div>
    {%- endif %}
{%- endblock choice_widget_expanded %}

{# Labels #}

{% block form_label -%}
    {%- if compound is defined and compound -%}
        {%- set element = 'legend' -%}
        {%- set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' col-form-legend')|trim}) -%}
    {%- else -%}
        {%- set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' form-control-label')|trim}) -%}
    {%- endif -%}
    {{- parent() -}}
{%- endblock form_label %}

{% block checkbox_radio_label -%}
    {#- Do not display the label if widget is not defined in order to prevent double label rendering -#}
    {%- if widget is defined -%}
        {%- set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' form-check-label')|trim}) -%}
        {%- if required -%}
    {%- set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' required')|trim}) -%}
{%- endif -%}
        {%- if parent_label_class is defined -%}
    {%- set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' ' ~ parent_label_class)|trim}) -%}
{%- endif -%}
        {%- if label is not same as(false) and label is empty -%}
    {%- if label_format is not empty -%}
        {%- set label = label_format|replace({
        '%name%': name,
        '%id%': id,
        }) -%}
    {%- else -%}
        {%- set label = name|humanize -%}
    {%- endif -%}
{%- endif -%}
        <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
            {{- widget|raw }} {{ label is not same as(false) ? (translation_domain is same as(false) ? label : label|trans({}, translation_domain)) -}}
        </label>
    {%- endif -%}
{%- endblock checkbox_radio_label %}

{# Rows #}

{% block form_row -%}
    {%- if compound is defined and compound -%}
    {%- set element = 'fieldset' -%}
{%- endif -%}
    <{{ element|default('div') }} class="form-group">
        {{- form_label(form) -}}
        {{- form_widget(form) -}}
        {{- form_errors(form) -}}
    </{{ element|default('div') }}>
{%- endblock form_row %}

{# Errors #}

{% block form_errors -%}
    {%- if errors|length> 0 -%}
        <div class="{% if form is not rootform %}invalid-feedback{% else %}alert alert-danger{% endif %}">
            <ul class="list-unstyled mb-0">
                {%- for error in errors -%}
                    <li>{{ error.message }}</li>
                {%- endfor -%}
            </ul>
        </div>
    {%- endif %}
{%- endblock form_errors %}

{# custom #}
{% block direct_observation_item_widget %}
    {% spaceless %}
        {% if typology is defined and typology == 'duration' %}
            {{ block('duration') }}

        {% elseif typology is defined and typology == 'frequency' %}
            {{ block('frequency') }}

        {% elseif typology is defined and typology != 'duration' and typology != 'frequency' %}
            {{ block('time_sampling') }}

        {% else %}
            <div {{ block('widget_container_attributes') }}>
                {{- block('form_rows') -}}
            </div>
        {% endif %}
    {% endspaceless %}
{% endblock %}

{% block duration %}
    {% if observationLengthInMinutes is defined %}
        <div class="form-body">
            <div class="form-group duration-item">
                <label class="col-md-3 control-label required">
                    {{ label }}
                    <span class="spinner"><img src="/icons/spinner.png" width="24px" height="24px"></span>
                </label>
                <div class="col-md-9">
                    <div class="row">
                        {{ form_widget(form.observationLengthInMinutes) }}
                        {{ form_widget(form.occurrenceTimestamps) }}
                        {{ form_widget(form.intervalLengthInSeconds) }}

                        <div class="col-md-6">
                            <div id="timer-{{ id }}" style="display:none">
                                {{ observationLengthInMinutes }}
                            </div>

                            <div id="progressBar-{{ id }}" class="behavioral-recording-progress-bar">
                                <div></div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div id="player-{{ id }}">
                                <a class="player btn btn-primary btn-lg" data-base-selector-id="{{ id }}" href="" role="button">&#9658;</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="duration-item">
            {{- block('form_rows') -}}
        </div>
    {% endif %}
{% endblock %}

{% block frequency %}
    {% spaceless %}
        {% if observationLengthInMinutes is defined %}
            <div class="form-body">
                <div class="form-group frequency-item">
                    <label class="col-md-3 control-label required">
                        {{ label }}
                        <span id="counter-{{ id }}" class="badge badge-success">0</span>
                    </label>
                    <div class="col-md-9">
                        <div class="row">
                            {{ form_widget(form.observationLengthInMinutes) }}
                            {{ form_widget(form.occurrenceTimestamps) }}
                            {{ form_widget(form.counter) }}

                            <div class="col-md-6">
                                <div id="timer-{{ id }}" style="display:none">
                                    {{ observationLengthInMinutes }}
                                </div>

                                <div id="progressBar-{{ id }}" class="behavioral-recording-progress-bar">
                                    <div></div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <a id="button-{{ id }}" class="frequency-counter btn btn-primary btn-lg red-button" data-base-selector-id="{{ id }}" href="" role="button">+</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <div {{ block('widget_container_attributes') }}>
                {{- block('form_rows') -}}
            </div>
        {% endif %}
    {% endspaceless %}
{% endblock %}

{% block meter_item_widget %}
    {% spaceless %}
            {% if labelMaxY is defined %}
            <div class="form-body">
                <div class="form-group square-container">
                    <label class="col-md-3 control-label required">
                        {{ label }}
                    </label>

                    <div class="col-md-9">
                        <div class="row text-center">
                            <div class="col-12 col-md-6">
                                {% for row in 1..11 %}
                                    {% for column in 1..11 %}
                                        {% if(row==1 and column==1) %}
                                            {% set label = labelMaxY %}
                                            {% set classLabelText = 'rotate-labels' %}
                                        {% elseif(row==6 and column==1) %}
                                            {% set label = labelY %}
                                            {% set classLabelText = 'rotate-labels' %}
                                        {% elseif(row==10 and column==1) %}
                                            {% set label = labelMinY %}
                                            {% set classLabelText = 'rotate-labels' %}
                                        {% endif %}
                                        {% if(row==11 and column==2) %}
                                            {% set label = labelMinX %}
                                            {% set classLabelText = '' %}
                                        {% elseif(row==11 and column==6) %}
                                            {% set label = labelX %}
                                            {% set classLabelText = '' %}
                                        {% elseif(row==11 and column==10) %}
                                            {% set label = labelMaxX %}
                                            {% set classLabelText = '' %}
                                        {% endif %}

                                        {% set classAxis = '' %}

                                        {% if row==11 %}
                                            {% set classAxis = 'x-axis' %}
                                        {% endif %}

                                        {% if column==1 %}
                                            {% set classAxis = 'y-axis' %}
                                        {% endif %}

                                        {% if row==11 and column==1 %}
                                            {% set classAxis = classAxis ~ ' first-column-row' %}
                                        {% endif %}

                                        {% if (row==10 and column==6) or
                                        (row==9 and column==6) or
                                        (row==8 and column==6) or
                                        (row==7 and column==6) or
                                        (row==6 and column==6) or
                                        (row==5 and column==6) or
                                        (row==4 and column==6) or
                                        (row==3 and column==6) or
                                        (row==2 and column==6) or
                                        (row==1 and column==6)
                                        %}
                                            {% set classAxis = classAxis ~ ' sixth-row' %}
                                        {% endif %}

                                        {% if (row==6 and column==2) or
                                        (row==6 and column==3) or
                                        (row==6 and column==4) or
                                        (row==6 and column==5) or
                                        (row==6 and column==6) or
                                        (row==6 and column==7) or
                                        (row==6 and column==8) or
                                        (row==6 and column==9) or
                                        (row==6 and column==10) or
                                        (row==6 and column==11)
                                        %}
                                            {% set classAxis = classAxis ~ ' sixth-column' %}
                                        {% endif %}

                                        <div class="square {{ classAxis }}" data-row="{{ row }}" data-column="{{ column }}">
                                            {% if( ((row==1 or row==6 or row==10) and column==1)
                                            or ((column==2 or column==6 or column==10) and row==11)
                                            )
                                            %}
                                                <div class="content">
                                                    <div class="table">
                                                        <div class="table-cell meter-labels {{ classLabelText }}">
                                                            {{ label }}
                                                        </div>
                                                    </div>
                                                </div>

                                            {% endif %}
                                        </div>
                                    {% endfor %}
                                {% endfor %}
                            </div>
                        </div>

                    </div>

                {{ form_widget(form.xValue) }}
                {{ form_widget(form.yValue) }}
            </div>
            </div>
        {% else %}
            <div {{ block('widget_container_attributes') }}>
                {{- block('form_rows') -}}
            </div>
        {% endif %}
    {% endspaceless %}
{% endblock %}

{% block time_sampling %}
    {% if observationLengthInMinutes is defined %}
        <div class="form-body">
            <div class="form-group time-sampling-item">
                <label class="col-md-3 control-label required">{{ label }}</label>
                <div class="col-md-9">
                    <div class="row">
                        {{ form_widget(form.observationLengthInMinutes) }}
                        {{ form_widget(form.occurrenceTimestamps) }}
                        {{ form_widget(form.intervalLengthInSeconds) }}
                        {{ form_widget(form.intervalData) }}

                        <div class="col-md-6">
                            <div id="timer-{{ id }}" style="display:none">
                                {{ observationLengthInMinutes }}
                            </div>

                            <div id="progressBar-{{ id }}" class="behavioral-recording-progress-bar">
                                <div></div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <a id="button-{{ id }}" class="counter btn btn-primary btn-lg red-button" data-base-selector-id="{{ id }}" href="" role="button">+</a>
                        </div>
                    </div>

                    {{ form_widget(form.typology) }}
                    {{ form_widget(form.counter) }}
                    {{ form_widget(form.feedbackForIntervalRecording) }}
                </div>
            </div>
        </div>
    {% else %}
        <div class="time-sampling-item">
            {{- block('form_rows') -}}
        </div>
    {% endif %}
{% endblock %}
