{% extends 'base.html.twig' %}
{% block title %}
    {{ title }}
{% endblock %}

{% block breadcrumbs %}
    <li>
        <a href="{{ path('homepage') }}">Home</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <a href="{{ path('student_list') }}">Students</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <span>{{ observation.student.studentId }}</span>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <a href="{{ path('observation_student_list', { 'id': observation.student.id }) }}">Observations</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <span>{{ observation.name }}</span>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <span>Scheduler</span>
    </li>
{% endblock %}

{% block pageTitle %}
    Students
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('theme/assets/global/plugins/fullcalendar/fullcalendar.min.css') }}">
    <link rel="stylesheet" href="{{ asset('theme/assets/global/css/components.min.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment-with-locales.min.js"></script>
    <script src="{{ asset('theme/assets/global/plugins/fullcalendar/fullcalendar.min.js') }}"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="{{ asset('theme/assets/apps/scripts/calendar.js') }}"></script>

    <script>
        AppCalendar.setScheduledDates(
            [
                {% if((observation.observationDates | length) > 0) %}
                    {% for observationDate in observation.observationDates %}
                    {
                        {% if (observationDate.startDateTimestamp | date('H:i:s')) == '00:00:00' and observationDate.endDateTimestamp | date('H:i:s') == '23:59:59' %}
                            {% set allDay = 'true' %}
                        {% else %}
                            {% set allDay = 'false' %}
                        {% endif %}
                        title: '{{ observation.name }}',
                        start: new Date({{ observationDate.startDateTimestamp | date('Y') }}, {{ observationDate.startDateTimestamp | date('n') - 1 }}, {{ observationDate.startDateTimestamp | date('j') }}, {{ observationDate.startDateTimestamp | date('H') }}, {{ observationDate.startDateTimestamp | date('i') }}),
                        end: new Date({{ observationDate.endDateTimestamp | date('Y') }}, {{ observationDate.endDateTimestamp | date('n') - 1 }}, {{ observationDate.endDateTimestamp | date('j') }}, {{ observationDate.endDateTimestamp | date('H') }}, {{ observationDate.endDateTimestamp | date('i') }}),
                        allDay: {{ allDay }},
                        backgroundColor: App.getBrandColor('red'),
                        test: true
                    }{% if loop.index != observation.observationDates | length %},{% endif %}
                    {% endfor %}

                {% else %}

                {% endif %}
            ]
        );
        AppCalendar.setHasDates({{ observation.observationScheduler.hasDates }});
    </script>
{% endblock %}


{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light portlet-fit bordered calendar">
                <div class="portlet-title">
                    <div class="caption">
                        <i class=" icon-layers font-dark"></i>
                        <span class="caption-subject font-dark sbold uppercase">Calendar</span>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <div id="calendar" data-observation-id="{{ observation.id }}" data-observation-name="{{ observation.name }}" class="has-toolbar"> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}