{% extends 'base.html.twig' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block breadcrumbs %}
    <li>
        <a href="{{ path('homepage') }}">Home</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <a href="{{ path('student_list') }}">{% trans %}Students{% endtrans %}</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <span>{{ actionName }}</span>
    </li>
{% endblock %}

{% block pageTitle %}
    {{ actionName }} {% trans %}student{% endtrans %}
{% endblock %}


{% block body %}
    <div class="portlet box green">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-gift"></i>{{ actionName }} {% trans %}student{% endtrans %}
            </div>
        </div>
        <div class="portlet-body form">
            {{ form_start(form) }}
                {{ form_row(form.studentId) }}
                {{ form_row(form.sex) }}
                {{ form_row(form.yearOfBirth) }}
                {{ form_row(form.countryType) }}

            <div class="form-actions">
                <div class="row">
                    <div class="col-md-offset-3 col-md-9">
                        {{ form_widget(form.submit, {'class': 'btn btn-circle green'}) }}
                    </div>
                </div>
            </div>
            {{ form_end(form) }}

    </div>

    {% for flashMessage in app.session.flashbag.get('success') %}
        <div>{{ flashMessage | trans }}</div>
    {% endfor %}

{% endblock %}