{% extends 'base.html.twig' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block body %}
    {% for flashMessage in app.session.flashbag.get('success') %}
        <div>{{ flashMessage }}</div>
    {% endfor %}
    {{ form_start(form) }}
    
                                    {{ form_row(form.studentId) }}
            
    

    {{ form_end(form) }}
{% endblock %}



{% block javascripts %}
    <script>
        
        jQuery(document).ready(function() {
            
        })

        

    </script>
{% endblock %}