{% extends 'base.html.twig' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block breadcrumbs %}
    <li>
        <a href="{{ path('homepage') }}">Home</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <a href="{{ path('measure_list') }}">Measures</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <span>{{ actionName }}</span>
    </li>
{% endblock %}

{% block body %}
    {{ form_start(form) }}

    <div class="portlet box green">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-gift"></i>Compose your measure
            </div>

            <div class="actions">
                {{ form_widget(form.isShared) }}
            </div>

        </div>
        <div id="measure-form" class="portlet-body">
            {% set indexItemNumber = (numberOfItems is defined) ? numberOfItems - 1 : - 1 %}

            {{ form_row(form.name) }}
            {{ form_row(form.description) }}

            <div class="items"
                 data-index-item="{{ indexItemNumber }}"
                 data-prototype-choice="{{ form_widget(form.choiceItems.vars.prototype)|e('html_attr') }}"
                 data-prototype-direct-observation="{{ form_widget(form.directObservationItems.vars.prototype)|e('html_attr') }}"
                 data-prototype-integer="{{ form_widget(form.integerItems.vars.prototype)|e('html_attr') }}"
                 data-prototype-meter="{{ form_widget(form.meterItems.vars.prototype)|e('html_attr') }}"
                 data-prototype-range="{{ form_widget(form.rangeItems.vars.prototype)|e('html_attr') }}"
                 data-prototype-text="{{ form_widget(form.textItems.vars.prototype)|e('html_attr') }}">

                {% if numberOfItems is defined %}
                    {% for positionNumber in 1..numberOfItems %}
                        {% for choiceItem in form.choiceItems %}
                            {% if positionNumber == choiceItem.vars.value.positionNumber %}
                                <div class="portlet">
                                    <div class="portlet-title">
                                        <div class="tools">
                                            <a href="javascript:;" class="m-icon-swapup" data-original-title="" title=""> </a>
                                            <a href="javascript:;" class="m-icon-swapdown" data-original-title="" title=""> </a>
                                            <a href="javascript:;" class="collapse" data-original-title="" title=""> </a>
                                            <a href="javascript:;" class="remove" data-original-title="" title=""> </a>
                                        </div>
                                    </div>
                                    <div class="portlet-body">
                                        {{ form_row(choiceItem.type) }}
                                        {{ form_row(choiceItem.isExpanded) }}
                                        {{ form_row(choiceItem.isMultiple) }}
                                        {{ form_row(choiceItem.positionNumber) }}
                                        {{ form_row(choiceItem.label) }}
                                        {{ form_row(choiceItem.emptyValue) }}
                                        {{ form_row(choiceItem.options) }}

                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}

                        {% for directObservationItem in form.directObservationItems %}
                            {% if positionNumber == directObservationItem.vars.value.positionNumber %}
                                <div class="portlet">
                                    <div class="portlet-title">
                                        <div class="tools">
                                            <a href="javascript:;" class="m-icon-swapup" data-original-title="" title=""> </a>
                                            <a href="javascript:;" class="m-icon-swapdown" data-original-title="" title=""> </a>
                                            <a href="javascript:;" class="collapse" data-original-title="" title=""> </a>
                                            <a href="javascript:;" class="remove" data-original-title="" title=""> </a>
                                        </div>
                                    </div>
                                    <div class="portlet-body">
                                        {{ form_row(directObservationItem.label) }}
                                        {{ form_row(directObservationItem.observationLengthInMinutes) }}
                                        {{ form_row(directObservationItem.intervalLengthInSeconds) }}
                                        {{ form_row(directObservationItem.typology) }}
                                        {{ form_row(directObservationItem.feedbackForIntervalRecording) }}
                                        {{ form_row(directObservationItem.positionNumber) }}
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}

                        {% for integerItem in form.integerItems %}
                            {% if positionNumber == integerItem.vars.value.positionNumber %}
                                <div class="portlet">
                                    <div class="portlet-title">
                                        <div class="tools">
                                            <a href="javascript:;" class="m-icon-swapup" data-original-title="" title=""> </a>
                                            <a href="javascript:;" class="m-icon-swapdown" data-original-title="" title=""> </a>
                                            <a href="javascript:;" class="collapse" data-original-title="" title=""> </a>
                                            <a href="javascript:;" class="remove" data-original-title="" title=""> </a>
                                        </div>
                                    </div>
                                    <div class="portlet-body">
                                        {{ form_row(integerItem.label) }}
                                        {{ form_row(integerItem.fieldValue) }}
                                        {{ form_row(integerItem.positionNumber) }}
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}

                        {% for meterItem in form.meterItems %}
                            {% if positionNumber == meterItem.vars.value.positionNumber %}
                                <div class="portlet">
                                    <div class="portlet-title">
                                        <div class="tools">
                                            <a href="javascript:;" class="m-icon-swapup" data-original-title="" title=""> </a>
                                            <a href="javascript:;" class="m-icon-swapdown" data-original-title="" title=""> </a>
                                            <a href="javascript:;" class="collapse" data-original-title="" title=""> </a>
                                            <a href="javascript:;" class="remove" data-original-title="" title=""> </a>
                                        </div>
                                    </div>
                                    <div class="portlet-body">
                                        {{ form_row(meterItem.label) }}
                                        {{ form_row(meterItem.xValue) }}
                                        {{ form_row(meterItem.yValue) }}
                                        {{ form_row(meterItem.labelY) }}
                                        {{ form_row(meterItem.labelMaxY) }}
                                        {{ form_row(meterItem.labelMinY) }}
                                        {{ form_row(meterItem.labelX) }}
                                        {{ form_row(meterItem.labelMaxX) }}
                                        {{ form_row(meterItem.labelMinX) }}
                                        {{ form_row(meterItem.positionNumber) }}
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}

                        {% for rangeItem in form.rangeItems %}
                            {% if positionNumber == rangeItem.vars.value.positionNumber %}
                                <div class="portlet">
                                    <div class="portlet-title">
                                        <div class="tools">
                                            <a href="javascript:;" class="m-icon-swapup" data-original-title="" title=""> </a>
                                            <a href="javascript:;" class="m-icon-swapdown" data-original-title="" title=""> </a>
                                            <a href="javascript:;" class="collapse" data-original-title="" title=""> </a>
                                            <a href="javascript:;" class="remove" data-original-title="" title=""> </a>
                                        </div>
                                    </div>
                                    <div class="portlet-body">
                                        {{ form_row(rangeItem.label) }}
                                        {{ form_row(rangeItem.min) }}
                                        {{ form_row(rangeItem.max) }}
                                        {{ form_row(rangeItem.step) }}
                                        {{ form_row(rangeItem.positionNumber) }}
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}

                        {% for textItem in form.textItems %}
                            {% if positionNumber == textItem.vars.value.positionNumber %}
                                <div class="portlet">
                                    <div class="portlet-title">
                                        <div class="tools">
                                            <a href="javascript:;" class="m-icon-swapup" data-original-title="" title=""> </a>
                                            <a href="javascript:;" class="m-icon-swapdown" data-original-title="" title=""> </a>
                                            <a href="javascript:;" class="collapse" data-original-title="" title=""> </a>
                                            <a href="javascript:;" class="remove" data-original-title="" title=""> </a>
                                        </div>
                                    </div>
                                    <div class="portlet-body">
                                        {{ form_row(textItem.label) }}
                                        {{ form_row(textItem.fieldValue) }}
                                        {{ form_row(textItem.placeholder) }}
                                        {{ form_row(textItem.positionNumber) }}
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}

                    {% endfor %}
                {% endif %}
            </div>

            <div class="form-actions">
                <div class="row">
                    <div class="col-md-offset-3 col-md-9">
                        <a class="btn btn-circle green" href="javascript:;" data-toggle="dropdown" aria-expanded="false">
                            <i class="fa fa-plus"></i> Add item
                            <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="javascript:;">
                                    <i class="fa fa-dot-circle-o"></i>Choice</a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <i class="fa fa-dot-circle-o"></i>Direct Observation</a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <i class="fa fa-superscript"></i>Integer</a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <i class="fa fa-th"></i>Meter</a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <i class="fa fa-dot-circle-o"></i>Range</a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <i class="fa fa-dot-circle-o"></i>Text</a>
                            </li>
                        </ul>

                        {{ form_widget(form.submit, {'class': 'btn btn-circle green'}) }}
                        <button type="button" class="btn btn-circle grey-salsa btn-outline">Cancel</button>
                        {{ form_row(form._token) }}

                    </div>
                </div>
            </div>
            {{ form_end(form, {'render_rest': false}) }}
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('theme/assets/global/plugins/bootstrap-tagsinput/bootstrap-tagsinput.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('theme/assets/global/plugins/bootstrap-tagsinput/bootstrap-tagsinput.min.js') }}"></script>

    <script>
        var $collectionHolder = $('div.items');

        $( document ).ready(function() {
            isShared = ($("#measure_isShared").is(':checked')) ? true : false;

            $("#measure_isShared").bootstrapSwitch('state', isShared);
            $("#measure_isShared").bootstrapSwitch('size', 'small');

            $("select[id*='typology']").each(function(){
                hideShowIntervalFeedback($(this));
            });

        });


        $(".portlet-body").on('click', '.m-icon-swapup', function(){
            selectedItemId = $(this).parent().parent().parent().next().children().attr('id');
            positionNumberId = selectedItemId + '_' + 'positionNumber';
            positionNumberStartValue = parseInt($('#' + positionNumberId).val());

            portlet = $(this).parent().parent().parent();

            if(positionNumberStartValue != '0') {
                itemIndex = positionNumberStartValue - 1;

                //the selected element goes up
                console.log($('#' + positionNumberId));

                $('#' + positionNumberId).val(positionNumberStartValue - 1);

                console.log($('#' + positionNumberId));

                previousElementPositionNumber = $('input[id*="' + itemIndex + '_positionNumber"]');

                //the previous element goes down
                previousElementPositionNumber.val(parseInt(previousElementPositionNumber.val()) + 1);

                portlet.prev().insertAfter(portlet);

            }
        });

        $(".portlet-body").on('click', '.m-icon-swapdown', function(){
            selectedItemId = $(this).parent().parent().parent().next().children().attr('id');
            positionNumberId = selectedItemId + '_' + 'positionNumber';
            positionNumberStartValue = parseInt($('#' + positionNumberId).val());

            portlet = $(this).parent().parent().parent();
            numberOfItems = $('input[id*=positionNumber]').length;

            if(positionNumberStartValue != numberOfItems) {
                itemIndex = positionNumberStartValue - 1;

                //the selected element goes down
                $('#' + positionNumberId).val(positionNumberStartValue + 1);

                previousElementPositionNumber = $('input[id*="' + itemIndex + '_positionNumber"]');

                //the previous element goes up
                previousElementPositionNumber.val(parseInt(previousElementPositionNumber.val()) - 1);

                portlet.next().insertBefore(portlet);

                $(".portlet-body").trigger( "change" );
            }
        });

        $(".portlet-body").on('change', "select[id*='type']", function(){
            isExpandedElementId = $(this).attr('id').replace('type', 'isExpanded');
            isMultipleElementId = $(this).attr('id').replace('type', 'isMultiple');

            switch($(this).val()) {
                //checkboxes
                case '0':
                    $('#' + isExpandedElementId).val(1);
                    $('#' + isMultipleElementId).val(1);
                break;

                //dropdown
                case '1':
                    $('#' + isExpandedElementId).val(0);
                    $('#' + isMultipleElementId).val(0);
                break;

                //dropdown multiple
                case '2':
                    $('#' + isExpandedElementId).val(0);
                    $('#' + isMultipleElementId).val(1);
                break;

                //radio
                case '3':
                    $('#' + isExpandedElementId).val(1);
                    $('#' + isMultipleElementId).val(0);
                break;
            }
        });

        $(".portlet-body").on('change', "select[id*='typology']", function(){
            hideShowIntervalFeedback($(this));


        });

        $( '.dropdown-menu a' ).on('click', function(e) {
            e.preventDefault();

            switch($.trim($( this ).text())) {
                case 'Choice':
                    addItemForm('choice');
                    break;

                case 'Direct Observation':
                    addItemForm('direct-observation');
                    break;

                case 'Integer':
                    addItemForm('integer');
                    break;

                case 'Meter':
                    addItemForm('meter');
                    break;

                case 'Range':
                    addItemForm('range');
                    break;

                case 'Text':
                    addItemForm('text');
            }
        });

        function addItemForm(type) {
            prototype = $collectionHolder.data('prototype-' + type);
            index = $collectionHolder.attr('data-index-item');
            newIndex = parseInt(index) + 1;
            newItemNumber = newIndex + 1;

            newForm = prototype.replace(/__name__/g, newIndex);

            portlet = '<div class="portlet"><div class="portlet-title"><div class="tools"><a href="javascript:;" class="m-icon-swapup" data-original-title="" title=""> </a><a href="javascript:;" class="m-icon-swapdown" data-original-title="" title=""> </a><a href="javascript:;" class="collapse" data-original-title="" title=""> </a><a href="javascript:;" class="remove" data-original-title="" title=""> </a></div></div><div class="portlet-body">' + newForm + '</div></div>';

            $collectionHolder.append(portlet);

            $( "input[name*='positionNumber']" ).last().val(newItemNumber);

            $collectionHolder.attr('data-index-item', newIndex);

            if(type == 'choice') {
                $ ('input[id*="options"]').tagsinput('refresh');
            }

            if(type == 'direct-observation') {
                $('#measure_directObservationItems_' + newIndex + '_intervalLengthInSeconds').parent().parent().hide();
                $('#measure_directObservationItems_' + newIndex + '_feedbackForIntervalRecording').parent().parent().hide();
            }
        }

        function hideShowIntervalFeedback(element)
        {
            intervalLengthInSecondsId = $(element).attr('id').replace('typology', 'intervalLengthInSeconds');
            feedbackForIntervalRecordingId = $(element).attr('id').replace('typology', 'feedbackForIntervalRecording');

            switch($(element).val()) {
                case 'duration':
                case 'frequency':
                    $('#' + intervalLengthInSecondsId).parent().parent().hide();
                    $('#' + feedbackForIntervalRecordingId).parent().parent().hide();
                    console.log($('#' + intervalLengthInSecondsId));
                    break;

                case 'whole-interval':
                case 'partial-interval':
                case 'momentary-time-sampling':
                    $('#' + intervalLengthInSecondsId).parent().parent().show();
                    $('#' + feedbackForIntervalRecordingId).parent().parent().show();
                    console.log($('#' + intervalLengthInSecondsId));
                    break;
            }

            /*
             intervalLengthInSecondsId = $(this).attr('id').replace('typology', 'intervalLengthInSeconds');
             feedbackForIntervalRecordingId = $(this).attr('id').replace('typology', 'feedbackForIntervalRecording');

             switch($(this).val()) {
             case 'duration':
             case 'frequency':
             $('#' + intervalLengthInSecondsId).parent().parent().hide();
             $('#' + feedbackForIntervalRecordingId).parent().parent().hide();
             console.log($('#' + intervalLengthInSecondsId));
             break;

             case 'whole-interval':
             case 'partial-interval':
             case 'momentary-time-sampling':
             $('#' + intervalLengthInSecondsId).parent().parent().show();
             $('#' + feedbackForIntervalRecordingId).parent().parent().show();
             console.log($('#' + intervalLengthInSecondsId));
             break;
             }
             */
        }
    </script>
{% endblock %}