{% extends 'base.html.twig' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block breadcrumbs %}
    <li>
        <a href="{{ path('homepage') }}">Home</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <a href="{{ path('measure_list') }}">Measures</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <span>{{ actionName }}</span>
    </li>
{% endblock %}

{% block body %}
    {{ form_start(form) }}

    <div class="portlet box green">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-gift"></i>Compose your measure
            </div>
        </div>
        <div id="measure-form" class="portlet-body">
            {% set indexItemNumber = (numberOfItems is defined) ? numberOfItems - 1 : - 1 %}

            {{ form_row(form.name) }}
            {{ form_row(form.description) }}

            <div class="items"
                 data-index-item="{{ indexItemNumber }}"
                 data-prototype-choice="{{ form_widget(form.choiceItems.vars.prototype)|e('html_attr') }}"
                 data-prototype-direct-observation="{{ form_widget(form.directObservationItems.vars.prototype)|e('html_attr') }}"
                 data-prototype-integer="{{ form_widget(form.integerItems.vars.prototype)|e('html_attr') }}"
                 data-prototype-meter="{{ form_widget(form.meterItems.vars.prototype)|e('html_attr') }}"
                 data-prototype-range="{{ form_widget(form.rangeItems.vars.prototype)|e('html_attr') }}"
                 data-prototype-text="{{ form_widget(form.textItems.vars.prototype)|e('html_attr') }}">

                {% if numberOfItems is defined %}
                    {% for positionNumber in 1..numberOfItems %}
                        {% for choiceItem in form.choiceItems %}
                            {% if positionNumber == choiceItem.vars.value.positionNumber %}
                                <div class="portlet">
                                    <div class="portlet-title">
                                        <div class="tools">
                                            <a href="javascript:;" class="m-icon-swapup" data-original-title="" title=""> </a>
                                            <a href="javascript:;" class="m-icon-swapdown" data-original-title="" title=""> </a>
                                            <a href="javascript:;" class="collapse" data-original-title="" title=""> </a>
                                            <a href="javascript:;" class="remove" data-original-title="" title=""> </a>
                                        </div>
                                    </div>
                                    <div class="portlet-body">
                                        {{ form_row(choiceItem.choiceType) }}
                                        {{ form_row(choiceItem.isExpanded) }}
                                        {{ form_row(choiceItem.isMultiple) }}
                                        {{ form_row(choiceItem.positionNumber) }}
                                        {{ form_row(choiceItem.label) }}
                                        {{ form_row(choiceItem.emptyValue) }}
                                        {{ form_row(choiceItem.options) }}

                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}

                        {% for directObservationItem in form.directObservationItems %}
                            {% if positionNumber == directObservationItem.vars.value.positionNumber %}
                                <div class="portlet">
                                    <div class="portlet-title">
                                        <div class="tools">
                                            <a href="javascript:;" class="m-icon-swapup" data-original-title="" title=""> </a>
                                            <a href="javascript:;" class="m-icon-swapdown" data-original-title="" title=""> </a>
                                            <a href="javascript:;" class="collapse" data-original-title="" title=""> </a>
                                            <a href="javascript:;" class="remove" data-original-title="" title=""> </a>
                                        </div>
                                    </div>
                                    <div class="portlet-body">
                                        {{ form_row(directObservationItem.label) }}
                                        {{ form_row(directObservationItem.observationLengthInMinutes) }}
                                        {{ form_row(directObservationItem.intervalLengthInSeconds) }}
                                        {{ form_row(directObservationItem.typology) }}
                                        {{ form_row(directObservationItem.positionNumber) }}
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}

                        {% for integerItem in form.integerItems %}
                            {% if positionNumber == integerItem.vars.value.positionNumber %}
                                <div class="portlet">
                                    <div class="portlet-title">
                                        <div class="tools">
                                            <a href="javascript:;" class="m-icon-swapup" data-original-title="" title=""> </a>
                                            <a href="javascript:;" class="m-icon-swapdown" data-original-title="" title=""> </a>
                                            <a href="javascript:;" class="collapse" data-original-title="" title=""> </a>
                                            <a href="javascript:;" class="remove" data-original-title="" title=""> </a>
                                        </div>
                                    </div>
                                    <div class="portlet-body">
                                        {{ form_row(integerItem.label) }}
                                        {{ form_row(integerItem.fieldValue) }}
                                        {{ form_row(integerItem.positionNumber) }}
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}

                        {% for meterItem in form.meterItems %}
                            {% if positionNumber == meterItem.vars.value.positionNumber %}
                                <div class="portlet">
                                    <div class="portlet-title">
                                        <div class="tools">
                                            <a href="javascript:;" class="m-icon-swapup" data-original-title="" title=""> </a>
                                            <a href="javascript:;" class="m-icon-swapdown" data-original-title="" title=""> </a>
                                            <a href="javascript:;" class="collapse" data-original-title="" title=""> </a>
                                            <a href="javascript:;" class="remove" data-original-title="" title=""> </a>
                                        </div>
                                    </div>
                                    <div class="portlet-body">
                                        {{ form_row(meterItem.label) }}
                                        {{ form_row(meterItem.xValue) }}
                                        {{ form_row(meterItem.yValue) }}
                                        {{ form_row(meterItem.labelY) }}
                                        {{ form_row(meterItem.labelMaxY) }}
                                        {{ form_row(meterItem.labelMinY) }}
                                        {{ form_row(meterItem.labelX) }}
                                        {{ form_row(meterItem.labelMaxX) }}
                                        {{ form_row(meterItem.labelMinX) }}
                                        {{ form_row(meterItem.positionNumber) }}
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}

                        {% for rangeItem in form.rangeItems %}
                            {% if positionNumber == rangeItem.vars.value.positionNumber %}
                                <div class="portlet">
                                    <div class="portlet-title">
                                        <div class="tools">
                                            <a href="javascript:;" class="m-icon-swapup" data-original-title="" title=""> </a>
                                            <a href="javascript:;" class="m-icon-swapdown" data-original-title="" title=""> </a>
                                            <a href="javascript:;" class="collapse" data-original-title="" title=""> </a>
                                            <a href="javascript:;" class="remove" data-original-title="" title=""> </a>
                                        </div>
                                    </div>
                                    <div class="portlet-body">
                                        {{ form_row(rangeItem.label) }}
                                        {{ form_row(rangeItem.min) }}
                                        {{ form_row(rangeItem.max) }}
                                        {{ form_row(rangeItem.step) }}
                                        {{ form_row(rangeItem.positionNumber) }}
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}

                        {% for textItem in form.textItems %}
                            {% if positionNumber == textItem.vars.value.positionNumber %}
                                <div class="portlet">
                                    <div class="portlet-title">
                                        <div class="tools">
                                            <a href="javascript:;" class="m-icon-swapup" data-original-title="" title=""> </a>
                                            <a href="javascript:;" class="m-icon-swapdown" data-original-title="" title=""> </a>
                                            <a href="javascript:;" class="collapse" data-original-title="" title=""> </a>
                                            <a href="javascript:;" class="remove" data-original-title="" title=""> </a>
                                        </div>
                                    </div>
                                    <div class="portlet-body">
                                        {{ form_row(textItem.label) }}
                                        {{ form_row(textItem.fieldValue) }}
                                        {{ form_row(textItem.placeholder) }}
                                        {{ form_row(textItem.positionNumber) }}
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}

                    {% endfor %}
                {% endif %}
            </div>

            <div class="form-actions">
                <div class="row">
                    <div class="col-md-offset-3 col-md-9">
                        <a class="btn btn-circle green" href="javascript:;" data-toggle="dropdown" aria-expanded="false">
                            <i class="fa fa-plus"></i> Add item
                            <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu measure-menu">
                            <li>
                                <a href="javascript:;">
                                    <i class="fa fa-dot-circle-o"></i> Choice</a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <i class="fa fa-eye"></i> Direct Observation</a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <i class="fa fa-cube"></i> Integer</a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <i class="fa fa-th"></i> Four Quadrant Diagram</a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <i class="fa fa-arrows-h"></i> Range</a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <i class="fa fa-font"></i> Text</a>
                            </li>
                        </ul>

                        {{ form_widget(form.submit, {'class': 'btn btn-circle green'}) }}
                        <button type="button" class="btn btn-circle grey-salsa btn-outline">Cancel</button>
                        {{ form_row(form._token) }}

                    </div>
                </div>
            </div>
            {{ form_end(form, {'render_rest': false}) }}
        </div>
    </div>

    <div class="modal fade" id="integer" tabindex="-1" role="basic" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title">Integer item</h4>
                </div>
                <div class="modal-body">
                    <p>The widget is aimed to support the creation of items with a numeric response.</p>

                    <p>The following images shows an example about the measure creation phase:</p>

                    <p><img class="img-responsive bordered-img" src="{{ asset('images/integer-item-build.png') }}"></p>

                    <p>and what this produce in the data collection section.</p>

                    <p><img class="img-responsive bordered-img" src="{{ asset('images/integer-item-gather.png') }}"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn dark btn-outline" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="direct-observation" tabindex="-1" role="basic" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title">Direct observation item</h4>
                </div>
                <div class="modal-body">
                    <p>The widget is aimed to measure a phenomenon evaluating its frequency, its duration, or whether it occurs or does not occur during specified time periods.</p>

                    <h4>Duration</h4>

                    <p>The following images shows an example of the direct item creation phase, selecting the type "Duration recording":</p>

                    <p><img class="img-responsive bordered-img" src="{{ asset('images/direct-item-duration-build.png') }}"></p>

                    <p>and what this produce in the data collection section.</p>

                    <p><img class="img-responsive bordered-img" src="{{ asset('images/direct-item-duration-gather.png') }}"></p>

                    <h4>Frequency</h4>

                    <p>The following images shows an example of the direct item creation phase, selecting the type "Frequency":</p>

                    <p><img class="img-responsive bordered-img" src="{{ asset('images/direct-item-frequency-build.png') }}"></p>

                    <p>and what this produce in the data collection section.</p>

                    <p><img class="img-responsive bordered-img" src="{{ asset('images/direct-item-frequency-gather.png') }}"></p>

                    <h4>Interval recording</h4>

                    <p>The following images shows an example of the direct item creation phase, selecting the type "Interval recording":</p>

                    <p><img class="img-responsive bordered-img" src="{{ asset('images/direct-item-interval-build.png') }}"></p>

                    <p>and what this produce in the data collection section.</p>

                    <p><img class="img-responsive bordered-img" src="{{ asset('images/direct-item-interval-gather.png') }}"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn dark btn-outline" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="meter" tabindex="-1" role="basic" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title">Four Quadrant Diagram item</h4>
                </div>
                <div class="modal-body">
                    <p>The widget is aimed to create a cartesian plane. The user has to select the point in the plane where he feels to belong according to the predefined categories. </p>

                    <p>The following images shows an example about the measure creation phase:</p>

                    <p><img class="img-responsive bordered-img" src="{{ asset('images/meter-item-build.png') }}"></p>

                    <p>and what this produce in the data collection section.</p>

                    <p><img class="img-responsive bordered-img" src="{{ asset('images/meter-item-gather.png') }}"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn dark btn-outline" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="range" tabindex="-1" role="basic" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title">Range item</h4>
                </div>
                <div class="modal-body">
                    <p>The widget is aimed to create an input with a numeric value which must be no less than a given value, and no more than another given value.</p>

                    <p>The following images shows an example about the measure creation phase:</p>

                    <p><img class="img-responsive bordered-img" src="{{ asset('images/range-item-build.png') }}"></p>

                    <p>and what this produce in the data collection section.</p>

                    <p><img class="img-responsive bordered-img" src="{{ asset('images/range-item-gather.png') }}"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn dark btn-outline" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="text" tabindex="-1" role="basic" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title">Text item</h4>
                </div>
                <div class="modal-body">
                    <p>The widget is aimed to create a textual input.</p>

                    <p>The following images shows an example about the measure creation phase:</p>

                    <p><img class="img-responsive bordered-img" src="{{ asset('images/text-item-build.png') }}"></p>

                    <p>and what this produce in the data collection section.</p>

                    <p><img class="img-responsive bordered-img" src="{{ asset('images/text-item-gather.png') }}"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn dark btn-outline" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="choice" tabindex="-1" role="basic" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title">Choice item</h4>
                </div>
                <div class="modal-body">
                    <p>The widget is aimed to create radio buttons and selects. Multiple selections of values are allowed. </p>

                    <h4>Checkboxes</h4>

                    <p>The following images shows an example about the measure creation phase:</p>

                    <p><img class="img-responsive bordered-img" src="{{ asset('images/choice-item-checkboxes-build.png') }}"></p>

                    <p>and what this produce in the data collection section.</p>

                    <p><img class="img-responsive bordered-img" src="{{ asset('images/choice-item-checkboxes-gather.png') }}"></p>

                    <h4>Dropdown list</h4>

                    <p>The following images shows an example about the measure creation phase:</p>

                    <p><img class="img-responsive bordered-img" src="{{ asset('images/choice-item-dropdown-build.png') }}"></p>

                    <p>and what this produce in the data collection section.</p>

                    <p><img class="img-responsive bordered-img" src="{{ asset('images/choice-item-dropdown-gather.png') }}"></p>

                    <h4>Dropdown list with multiple selection</h4>

                    <p>The following images shows an example about the measure creation phase:</p>

                    <p><img class="img-responsive bordered-img" src="{{ asset('images/choice-item-dropdown-multiple-build.png') }}"></p>

                    <p>and what this produce in the data collection section.</p>

                    <p><img class="img-responsive bordered-img" src="{{ asset('images/choice-item-dropdown-multiple-gather.png') }}"></p>

                    <h4>Radio buttons</h4>

                    <p>The following images shows an example about the measure creation phase:</p>

                    <p><img class="img-responsive bordered-img" src="{{ asset('images/choice-item-radio-build.png') }}"></p>

                    <p>and what this produce in the data collection section.</p>

                    <p><img class="img-responsive bordered-img" src="{{ asset('images/choice-item-radio-gather.png') }}"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn dark btn-outline" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('theme/assets/global/plugins/bootstrap-tagsinput/bootstrap-tagsinput.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('theme/assets/global/plugins/bootstrap-tagsinput/bootstrap-tagsinput.min.js') }}"></script>

    <script>
        var $collectionHolder = $('div.items');

        $( document ).ready(function() {
            $("select[id*='typology']").each(function(){
                hideShowInterval($(this));
            });

        });


        $(".portlet-body").on('click', '.m-icon-swapup', function(){
            portlet = $(this).parent().parent().parent();
            portlet.prev().insertAfter(portlet);

            resetPositionNumbers();
        });

        $(".portlet-body").on('click', '.m-icon-swapdown', function(){
            portlet = $(this).parent().parent().parent();
            portlet.next().insertBefore(portlet);

            resetPositionNumbers();
        });

        $(".portlet-body").on('click', '.remove', function() {
            selectedItemId = $(this).parent().parent().next().children().first().attr('id');
            positionNumberId = selectedItemId + '_' + 'positionNumber';

            $('#'+ selectedItemId).remove();

            $collectionHolder.attr('data-index-item', parseInt($collectionHolder.attr('data-index-item')) - 1);

            resetPositionNumbers();
        });

        $(".portlet-body").on('change', "select[id*='choiceType']", function(){
            isExpandedElementId = $(this).attr('id').replace('choiceType', 'isExpanded');
            isMultipleElementId = $(this).attr('id').replace('choiceType', 'isMultiple');

            switch($(this).val()) {
                //checkboxes
                case '0':
                    $('#' + isExpandedElementId).val(1);
                    $('#' + isMultipleElementId).val(1);
                break;

                //dropdown
                case '1':
                    $('#' + isExpandedElementId).val(0);
                    $('#' + isMultipleElementId).val(0);
                break;

                //dropdown multiple
                case '2':
                    $('#' + isExpandedElementId).val(0);
                    $('#' + isMultipleElementId).val(1);
                break;

                //radio
                case '3':
                    $('#' + isExpandedElementId).val(1);
                    $('#' + isMultipleElementId).val(0);
                break;
            }
        });

        $(".portlet-body").on('change', "select[id*='typology']", function(){
            hideShowInterval($(this));
        });

        $(".portlet-body").on('change', "select[id*='typology']", function(){
            hideShowInterval($(this));
        });

        $(".portlet-body").on('change', "select[id*='choiceType']", function(){

            emptyValueId = $(this).attr('id').replace('choiceType', 'emptyValue');

            switch($(this).val()) {
                case  '0':
                case  '2':
                case  '3':
                    $('#' + emptyValueId).parent().parent().hide();
                    break;

                case  '1':
                    $('#' + emptyValueId).parent().parent().show();
                    break;
            }
        });

        $( '.dropdown-menu a' ).on('click', function(e) {
            e.preventDefault();

            switch($.trim($( this ).text())) {
                case 'Choice':
                    addItemForm('choice');
                    break;

                case 'Direct Observation':
                    addItemForm('direct-observation');
                    break;

                case 'Integer':
                    addItemForm('integer');
                    break;

                case 'Four Quadrant Diagram':
                    addItemForm('meter');
                    break;

                case 'Range':
                    addItemForm('range');
                    break;

                case 'Text':
                    addItemForm('text');
            }
        });

        function addItemForm(type) {
            prototype = $collectionHolder.data('prototype-' + type);
            index = $collectionHolder.attr('data-index-item');
            newIndex = parseInt(index) + 1;
            newItemNumber = newIndex + 1;
            typeName = (type == 'meter') ? 'Four Quadrant Diagram' : type;

            newForm = prototype.replace(/__name__/g, newIndex);

            portlet = '<div class="portlet"><div class="portlet-title"><div class="tools">'
                    + typeName.toUpperCase() +
                    '<a data-toggle="modal" style="position:relative; top: -2px; left: 1px;" href="#' + type + '"><img src="{{ asset('icons/question.svg') }}" width="16px" height="14px" name="Information about the item type" title="Information about the item type"></a><a href="javascript:;" class="m-icon-swapup" title="Move the item up"></a><a href="javascript:;" class="m-icon-swapdown" title="Move the item down"> </a><a href="javascript:;" class="collapse" title="Close the section"> </a><a href="javascript:;" class="remove" title="Remove the item"> </a></div></div><div class="portlet-body">'
                    + newForm +
                    '</div></div>';

            $collectionHolder.append(portlet);

            $( "input[name*='positionNumber']" ).last().val(newItemNumber);

            $collectionHolder.attr('data-index-item', newIndex);

            if(type == 'choice') {
                $ ('input[id*="options"]').tagsinput('refresh');
            }

            if(type == 'direct-observation') {
                $('#measure_directObservationItems_' + newIndex + '_intervalLengthInSeconds').parent().parent().hide();
            }
        }

        function hideShowInterval(element)
        {
            intervalLengthInSecondsId = $(element).attr('id').replace('typology', 'intervalLengthInSeconds');

            switch($(element).val()) {
                case 'duration':
                case 'frequency':
                    $('#' + intervalLengthInSecondsId).parent().parent().hide();
                    break;

                case 'whole-interval':
                case 'partial-interval':
                case 'momentary-time-sampling':
                    $('#' + intervalLengthInSecondsId).parent().parent().show();
                    break;
            }
        }

        function resetPositionNumbers()
        {
            index = 1;

            $('input[id*="_positionNumber"]').each(function() {
                        $(this).val(index);

                        index+= 1;
                    }
            );
        }
    </script>
{% endblock %}