{% extends 'base.html.twig' %}

{% block body %}
    <form action="{{ path('data_analysis', {'id' : observation.id}) }}" method="post">
        {% for phase in phases %}
            <input type="checkbox" name="{{ phase.name }}" value="{{ phase.dataIds|join(',') }}"> {{ phase }}<br>
        {% endfor %}

        {% for item in measure.integerItems %}
            <input type="radio" name="item" value="{{ item.id }}"> {{ item.label }}<br>
        {% endfor %}

        {% for item in measure.rangeItems %}
            <input type="radio" name="item" value="{{ item.id }}"> {{ item.label }}<br>
        {% endfor %}

        {% for item in measure.directObservationItems %}
            <input type="radio" name="item" value="{{ item.id }}"> {{ item.label }}<br>
        {% endfor %}

        <input type="submit" value="Analyze">
    </form>


    {% if data is defined and data.outMonte == 'Allison & Gorman' %}
    <h2>Allison & Gorman</h2>

    <h3>Descriptive Statistics</h3>
    <table class="table">
        <tr>
            <th scope="row">Length</th>
            <td>{{ data.database.DV | length }}</td>
        </tr>
        {% for phaseName, phaseLength in phasesLength %}
            <tr>
                <th scope="row">Number of phase: {{ phaseName }}</th>
                <td>{{ phaseLength }}</td>
            </tr>
        {% endfor %}
        <tr>
            <th scope="row">Theoretical minimum</th>
            <td>{{ data.miny }}</td>
        </tr>
        <tr>
            <th scope="row">Empirical minimum</th>
            <td>{{ min(data.database.DV) | round(1, 'ceil') }}</td>
        </tr>
        <tr>
            <th scope="row">Theoretical maximum</th>
            <td>{{ data.maxy }}</td>
        </tr>
        <tr>
            <th scope="row">Empirical maximum</th>
            <td>{{ max(data.database.DV) | round(1, 'ceil') }}</td>
        </tr>
    </table>

    <h3>Method</h3>
    <table class="table">
        <tr>
            <th scope="row">Selected method</th>
            <td>{{ data.smethod }}</td>
        </tr>
        <tr>
            <th scope="row">Tested method</th>
            <td>{{ data.method }}</td>
        </tr>
        <tr>
            <th scope="row">Product of the bivariate correlation coefficient of detrended DV with X and X(T-na), respectively:</th>
            <td>{{ data.product }}</td>
        </tr>
    </table>

    <h3>Effect Size</h3>
    <table class="table">
        <tr>
            <th scope="row">Cohen's d</th>
            <td>{{ data.cohen_d_ConNum.value }}</td>
        </tr>
        <tr>
            <th scope="row">r</th>
            <td>{{ data.R.value }}</td>
        </tr>
    </table>

    <h3>Regression output</h3>
    <table class="table">
        <tr>
            <th scope="row">Formula</th>
            <td>Detrended Score = B0 + B1 Treatment + B3 Treatment x (Time-na) + e</td>
        </tr>
    </table>

    <table class="table">
        <thead>
        <tr>
            <th></th>
            <th>Estimate</th>
            <th>Std. Error</th>
            <th>t value</th>
            <th>Pr(>|t|)</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">(Intercept)</th>
            <td>{{ interceptEstimate | round(1, 'floor') }}</td>
            <td>{{ interceptStdError | round(4, 'ceil') }}</td>
            <td>{{ interceptTValue | round(1, 'floor') }}</td>
            <td>{{ interceptPr | round(5, 'ceil') }}</td>
        </tr>
        <tr>
            <th scope="row">Treatment</th>
            <td>{{ treatmentEstimate | round(4, 'ceil') }}</td>
            <td>{{ treatmentStdError | round(4, 'ceil') }}</td>
            <td>{{ treatmentTValue | round(4, 'ceil') }}</td>
            <td>{{ treatmentPr | round(5, 'ceil') }}</td>
        </tr>
        <tr>
            <th scope="row">Treatment x (Time-na)</th>
            <td>{{ treatmentXTimeNaEstimate | round(4, 'ceil') }}</td>
            <td>{{ treatmentXTimeNaStdError | round(4, 'ceil') }}</td>
            <td>{{ treatmentXTimeNaTValue | round(4, 'ceil') }}</td>
            <td>{{ treatmentXTimeNaPr | round(4, 'ceil') }}</td>
        </tr>
        </tbody>
    </table>

    <table class="table">
        <tr>
            <th scope="row">Residual se</th>
            <td>{{ data.regression.sigma | round(3, 'ceil') }}</td>
        </tr>
        <tr>
            <th scope="row">R<sup>2</sup></th>
            <td>{{ r2 | round(3, 'ceil') }}</td>
        </tr>
        <tr>
            <th scope="row">Adjusted R<sup>2</sup></th>
            <td>{{ adjustedR2 | round(3, 'ceil') }}</td>
        </tr>
        <tr>
            <th scope="row">F({{ data.regression.fstatistic.numdf }}.{{ data.regression.fstatistic.dendf }})</th>
            <td>{{ data.regression.fstatistic.value }}</td>
        </tr>
    </table>
    {% endif %}

    {% if data is defined and data.outMonte != 'Allison & Gorman' %}
    <h2>Parker's TAU-U</h2>

    <h3>Partition and Full Matrices</h3>

    <table class="table">
        <thead>
        <tr>
            <th></th>
            <th>TREND A</th>
            <th>TREND B</th>
            <th>FULL MATRIX</th>
        </tr>
        </thead>
        <tbody>

        {% set firstColumnHeaders = ['n pairs', 'n pos', 'n neg', 'S', 'Tau', 'SDs', 'VaRs', 'Z', 'p(Z based)'] %}

        {% for columnHeader in firstColumnHeaders %}
            <tr>
                <th scope="row">{{ columnHeader }}</th>
                <td>{{ data.PartitionsOfMatrix[loop.index0].TrendA }}</td>
                <td>{{ data.PartitionsOfMatrix[loop.index0].TrendB }}</td>
                <td>{{ data.FullMatrix[loop.index0][0] }}</td>
            </tr>
        {% endfor %}

            <tr>
                <th scope="row">r Effect Size</th>
                <td>{{ data.PartitionsOfMatrix[10].TrendA | round(3, 'ceil') }}</td>
                <td>{{ data.PartitionsOfMatrix[10].TrendB | round(3, 'ceil') }}</td>
                <td>{{ data.FullMatrix[10][0] | round(3, 'ceil') }}</td>
                <td></td>
            </tr>

        </tbody>
    </table>

    <h3>TAU_U Analysis</h3>

    <table class="table">
        <thead>
        <tr>
            <th></th>
            <th>A vs B</th>
            <th>A vs B + TREND B</th>
            <th>A vs B + TREND B - TREND A</th>
        </tr>
        </thead>
        <tbody>

        {% set firstColumnHeaders = ['n pairs', 'n pos', 'n neg', 'S', 'Tau', 'SDs', 'VaRs', 'Z', 'p(Z based)'] %}

        {% for columnHeader in firstColumnHeaders %}
            <tr>
                <th scope="row">{{ columnHeader }}</th>
                <td>{{ data.PartitionsOfMatrix[loop.index0].AvsB }}</td>
                <td>{{ data.TAU_U_Analysis[loop.index0].AvsBTrendB }}</td>
                <td>{{ data.TAU_U_Analysis[loop.index0].AvsBTrendBTrendA }}</td>
            </tr>
        {% endfor %}

            <tr>
                <th scope="row">r Effect Size</th>
                <td>{{ data.PartitionsOfMatrix[10].AvsB | round(3, 'ceil') }}</td>
                <td>{{ data.TAU_U_Analysis[10].AvsBTrendB | round(3, 'ceil') }}</td>
                <td>{{ data.TAU_U_Analysis[10].AvsBTrendBTrendA | round(3, 'ceil') }}</td>
            </tr>

        </tbody>
    </table>

    <div id="linechart" style="min-width: 400px; height: 400px; margin: 0 auto"></div>

    <div style="width:100%; clear:both;">
        {% if data.outMonte == 'AvsB+trendB-trendA' %}
            {% set tauUAnalysisValue = data.TAU_U_Analysis[10].AvsBTrendBTrendA | round(3, 'ceil') %}
        {% endif %}

        {% if data.outMonte == 'AvsB+trendB' %}
            {% set tauUAnalysisValue = data.TAU_U_Analysis[10].AvsBTrendB | round(3, 'ceil') %}
        {% endif %}

        {% if data.outMonte == 'AvsB' %}
            {% set tauUAnalysisValue = data.PartitionsOfMatrix[10].AvsB | round(3, 'ceil') %}
        {% endif %}

        {{ include('data/spinner.html.twig',
            {'spinnerWidth' : 60, 'tauUAnalysisValue': tauUAnalysisValue })
        }}

        <div style="width:40%; float:left; ">
            <ul class="list-style-none">
                <li><span class="azure">&nbsp;&nbsp;</span> {% trans from "r_analysis" %}null{% endtrans %}</li>
                <li><span class="blue">&nbsp;&nbsp;</span> {% trans from "r_analysis" %}small{% endtrans %}</li>
                <li><span class="yellow">&nbsp;&nbsp;</span> {% trans from "r_analysis" %}medium{% endtrans %}</li>
                <li><span class="rose">&nbsp;&nbsp;</span> {% trans from "r_analysis" %}large{% endtrans %}</li>
            </ul>
            <div style="padding-left:25px;" id="message"><strong>The effect size is: {{ tauUAnalysisValue }}.</strong><br>
                The treatment has a %s effect on the %s of the behaviour occurrence
            </div>
        </div>
    </div>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% if data is defined %}
    <script src="{{ asset('js/vendor/highcharts/6.1.1/highcharts.js') }}"></script>
    <script src="{{ asset('js/vendor/highcharts/6.1.1/modules/series-label.js') }}"></script>
    <script src="{{ asset('js/vendor/highcharts/6.1.1/modules/exporting.js') }}"></script>
    <script src="{{ asset('js/vendor/highcharts/6.1.1/modules/export-data.js') }}"></script>

    <script type="text/javascript">
        {{ chart(chart) }}
    </script>

    <script>
        $(function(){
            rotate();
        });

        function rotate()
        {
            rotateArrow(parseFloat($("#tau-u-analysis").val()));
        }


        function rotateArrow(val)
        {
            var newAngle = (val*90) + (270) ;
            $("#SvgArrow").attr("transform", "rotate(" + newAngle +")");
        }

        $(document).ready(function(){

        });

    </script>
    {% endif %}

{% endblock %}

