{% if data is defined %}
    <div class="row">
        <div class="col-md-6 col-sm-6">
            <div class="portlet light portlet-fit bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-directions font-green hide"></i>
                        <span class="caption-subject bold font-dark uppercase "> {% trans %}Scatter plot{% endtrans %}</span>
                        <span class="caption-helper"></span>
                    </div>
                </div>
                <div class="portlet-body">
                    <div id="linechart" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-6">
            <div class="portlet light portlet-fit bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-directions font-green hide"></i>
                        <span id="speedometer-title" class="caption-subject bold font-dark uppercase "> {% trans %}Speedometer{% endtrans %}: {{ data.outMonte }} </span>
                        <span class="caption-helper"></span>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            {% if data.outMonte == 'AvsB+trendB-trendA' %}
                                {% set analysisValue = data.TAU_U_Analysis[10].AvsBTrendBTrendA | round(3, 'ceil') %}
                            {% endif %}

                            {% if data.outMonte == 'AvsB+trendB' %}
                                {% set analysisValue = data.TAU_U_Analysis[10].AvsBTrendB | round(3, 'ceil') %}
                            {% endif %}

                            {% if data.outMonte == 'AvsB' %}
                                {% set analysisValue = data.PartitionsOfMatrix[10].AvsB | round(3, 'ceil') %}
                            {% endif %}

                            {% if data.outMonte == 'Allison & Gorman' %}
                                {% set analysisValue = data.R.value | round(3, 'ceil') %}
                            {% endif %}

                            {{ include('data/spinner.html.twig',
                                {'spinnerWidth' : 100, 'analysisValue': analysisValue })
                            }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12 text-center">
                            <ul class="list-inline">
                                <li><span class="azure">&nbsp;&nbsp;</span> {% trans from "r_analysis" %}
                                    null{% endtrans %}</li>
                                <li><span class="blue">&nbsp;&nbsp;</span> {% trans from "r_analysis" %}
                                    small{% endtrans %}</li>
                                <li><span class="yellow">&nbsp;&nbsp;</span> {% trans from "r_analysis" %}
                                    medium{% endtrans %}</li>
                                <li><span class="rose">&nbsp;&nbsp;</span> {% trans from "r_analysis" %}
                                    large{% endtrans %}</li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12 text-center">
                            <div style="padding-left:25px;" id="message"><strong>{% trans from 'r_analysis' %}The effect size is{% endtrans %}:
                                    <span id="effect-size-value">{{ analysisValue }}</span>.</strong><br>
                                    <span id="effect-size-message">{{ analysisMessages[data.outMonte] }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="hidden" id="AvsB+trendB-trendA-message">{{ analysisMessages['AvsB+trendB-trendA'] }}</div>
    <div class="hidden" id="AvsB+trendB-message">{{ analysisMessages['AvsB+trendB'] }}</div>
    <div class="hidden" id="AvsB-message">{{ analysisMessages['AvsB'] }}</div>
    <div class="hidden" id="AllisonGorman-message">{{ analysisMessages['Allison & Gorman'] }}</div>
{% endif %}

    {% if data is defined %}
        <div id="alison-gorman-analysis" {% if data.outMonte != 'Allison & Gorman' %}class="hidden"{% endif %}>
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="portlet light portlet-fit bordered">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="icon-directions font-green hide"></i>
                            <span class="caption-subject bold font-dark uppercase "> Allison & Gorman</span>
                            <span class="caption-helper">{% trans from 'r_analysis' %}Descriptive Statistics{% endtrans %}</span>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <table class="table table-striped">
                            <tr>
                                <th scope="row">Length</th>
                                <td>{{ data.database.DV | length }}</td>
                            </tr>
                            {% for phaseName, phaseLength in phasesLength %}
                                <tr>
                                    <th scope="row">Number of phase: {{ phaseName }}</th>
                                    <td>{{ phaseLength }}</td>
                                </tr>
                            {% endfor %}
                            <tr>
                                <th scope="row">Theoretical minimum</th>
                                <td>{{ data.miny }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Empirical minimum</th>
                                <td>{{ min(data.database.DV) | round(1, 'ceil') }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Theoretical maximum</th>
                                <td>{{ data.maxy }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Empirical maximum</th>
                                <td>{{ max(data.database.DV) | round(1, 'ceil') }}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="portlet light portlet-fit bordered">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="icon-directions font-green hide"></i>
                            <span class="caption-subject bold font-dark uppercase "> Allison & Gorman</span>
                            <span class="caption-helper">Method</span>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <table class="table table-striped">
                            <tr>
                                <th scope="row">Selected method</th>
                                <td>{{ data.smethod }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Tested method</th>
                                <td>{{ data.method }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Product of the bivariate correlation coefficient of detrended DV with X
                                    and X(T-na), respectively:
                                </th>
                                <td>{{ data.product }}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="portlet light portlet-fit bordered">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="icon-directions font-green hide"></i>
                            <span class="caption-subject bold font-dark uppercase "> Allison & Gorman</span>
                            <span class="caption-helper">Effect Size</span>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <table class="table table-striped">
                            <tr>
                                <th scope="row">Cohen's d</th>
                                <td>{{ data.cohen_d_ConNum.value }}</td>
                            </tr>
                            <tr>
                                <th scope="row">r</th>
                                <td id="r-allison-gorman">{{ data.R.value }}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="portlet light portlet-fit bordered">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="icon-directions font-green hide"></i>
                            <span class="caption-subject bold font-dark uppercase "> Allison & Gorman</span>
                            <span class="caption-helper">Regression output</span>
                        </div>
                    </div>
                    <div class="portlet-body table-responsive">
                        <table class="table table-striped">
                            <tr>
                                <th scope="row">Formula</th>
                                <td>Detrended Score = B0 + B1 Treatment + B3 Treatment x (Time-na) + e</td>
                            </tr>
                        </table>

                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th></th>
                                <th>Estimate</th>
                                <th>Std. Error</th>
                                <th>t value</th>
                                <th>Pr(>|t|)</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th scope="row">(Intercept)</th>
                                <td>{{ interceptEstimate | round(1, 'floor') }}</td>
                                <td>{{ interceptStdError | round(4, 'ceil') }}</td>
                                <td>{{ interceptTValue | round(1, 'floor') }}</td>
                                <td>{{ interceptPr | round(5, 'ceil') }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Treatment</th>
                                <td>{{ treatmentEstimate | round(4, 'ceil') }}</td>
                                <td>{{ treatmentStdError | round(4, 'ceil') }}</td>
                                <td>{{ treatmentTValue | round(4, 'ceil') }}</td>
                                <td>{{ treatmentPr | round(5, 'ceil') }}</td>
                            </tr>

                            {% if treatmentXTimeNaEstimate is defined %}
                            <tr>
                                <th scope="row">Treatment x (Time-na)</th>
                                <td>{{ treatmentXTimeNaEstimate | round(4, 'ceil') }}</td>
                                <td>{{ treatmentXTimeNaStdError | round(4, 'ceil') }}</td>
                                <td>{{ treatmentXTimeNaTValue | round(4, 'ceil') }}</td>
                                <td>{{ treatmentXTimeNaPr | round(4, 'ceil') }}</td>
                            </tr>
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="portlet light portlet-fit bordered">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="icon-directions font-green hide"></i>
                            <span class="caption-subject bold font-dark uppercase "> Allison & Gorman</span>
                            <span class="caption-helper">Effect Size</span>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <table class="table table-striped">
                            <tr>
                                <th scope="row">Residual se</th>
                                <td>{{ data.regression.sigma | round(3, 'ceil') }}</td>
                            </tr>
                            <tr>
                                <th scope="row">R<sup>2</sup></th>
                                <td>{{ r2 | round(3, 'ceil') }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Adjusted R<sup>2</sup></th>
                                <td>{{ adjustedR2 | round(3, 'ceil') }}</td>
                            </tr>
                            <tr>
                                <th scope="row">F({{ data.regression.fstatistic.numdf }}
                                    .{{ data.regression.fstatistic.dendf }})
                                </th>
                                <td>{{ data.regression.fstatistic.value }}</td>
                            </tr>

                        </table>
                    </div>
                </div>
            </div>
        </div>

        </div>
    {% endif %}

    {% if data is defined %}
        <div class="row" id="tau-u-analysis" {% if data.outMonte == 'Allison & Gorman' %}class="hidden"{% endif %}>
            <div class="col-md-6 col-sm-6">
                <div class="portlet light portlet-fit bordered">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="icon-directions font-green hide"></i>
                            <span class="caption-subject bold font-dark uppercase "> Parker's TAU-U</span>
                            <span class="caption-helper">Partition and Full Matrices</span>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th></th>
                                <th>TREND A</th>
                                <th>TREND B</th>
                                <th>FULL MATRIX</th>
                            </tr>
                            </thead>
                            <tbody>

                            {% set firstColumnHeaders = ['n pairs', 'n pos', 'n neg', 'S', 'Tau', 'SDs', 'VaRs', 'Z', 'p(Z based)'] %}

                            {% for columnHeader in firstColumnHeaders %}
                                <tr>
                                    <th scope="row">{{ columnHeader }}</th>
                                    <td>{{ data.PartitionsOfMatrix[loop.index0].TrendA }}</td>
                                    <td>{{ data.PartitionsOfMatrix[loop.index0].TrendB }}</td>
                                    <td>{{ data.FullMatrix[loop.index0][0] }}</td>
                                </tr>
                            {% endfor %}

                            <tr>
                                <th scope="row">r Effect Size</th>
                                <td>{{ data.PartitionsOfMatrix[10].TrendA | round(3, 'ceil') }}</td>
                                <td>{{ data.PartitionsOfMatrix[10].TrendB | round(3, 'ceil') }}</td>
                                <td>{{ data.FullMatrix[10][0] | round(3, 'ceil') }}</td>
                                <td></td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="portlet light portlet-fit bordered">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="icon-directions font-green hide"></i>
                            <span class="caption-subject bold font-dark uppercase "> TAU_U Analysis</span>
                            <span class="caption-helper"></span>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th></th>
                                <th>A vs B</th>
                                <th>A vs B + TREND B</th>
                                <th>A vs B + TREND B - TREND A</th>
                            </tr>
                            </thead>
                            <tbody>

                            {% set firstColumnHeaders = ['n pairs', 'n pos', 'n neg', 'S', 'Tau', 'SDs', 'VaRs', 'Z', 'p(Z based)'] %}

                            {% for columnHeader in firstColumnHeaders %}
                                <tr>
                                    <th scope="row">{{ columnHeader }}</th>
                                    <td>{{ data.PartitionsOfMatrix[loop.index0].AvsB }}</td>
                                    <td>{{ data.TAU_U_Analysis[loop.index0].AvsBTrendB }}</td>
                                    <td>{{ data.TAU_U_Analysis[loop.index0].AvsBTrendBTrendA }}</td>
                                </tr>
                            {% endfor %}

                            <tr>
                                <th scope="row">r Effect Size</th>
                                <td id="r-a-vs-b">{{ data.PartitionsOfMatrix[10].AvsB | round(3, 'ceil') }}</td>
                                <td id="r-a-vs-b-trend-b">{{ data.TAU_U_Analysis[10].AvsBTrendB | round(3, 'ceil') }}</td>
                                <td id="r-a-vs-b-trend-b-trend-a">{{ data.TAU_U_Analysis[10].AvsBTrendBTrendA | round(3, 'ceil') }}</td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    <script type="text/javascript">
        {{ chart(chart) }}
    </script>