{% extends 'base.html.twig' %}
{% block title %}
    {{ title }}
{% endblock %}

{% block breadcrumbs %}
    <li>
        <a href="{{ path('homepage') }}">{% trans %}Home{% endtrans %}</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <a href="{{ path('student_list') }}">{% trans %}Students{% endtrans %}</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <span>{{ observation.student.studentId }}</span>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <a href="{{ path('observation_student_list', { 'id': observation.student.id }) }}">{% trans %}Observations{% endtrans %}</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <span>{{ observation.name }}</span>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <span>Phase {{ observationPhase.name }}</span>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <span>{% trans %}Data{% endtrans %}</span>
    </li>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('theme/assets/global/plugins/slick/slick/slick.css') }}">
    <link rel="stylesheet" href="{{ asset('theme/assets/global/plugins/slick/slick/slick-theme.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('theme/assets/global/plugins/slick/slick/slick.min.js') }}"></script>
    <script src="{{ asset('js/vendor/highcharts/6.1.1/highcharts.js') }}"></script>
    <script src="{{ asset('js/vendor/highcharts/6.1.1/modules/series-label.js') }}"></script>
    <script src="{{ asset('js/vendor/highcharts/6.1.1/modules/exporting.js') }}"></script>
    <script src="{{ asset('js/vendor/highcharts/6.1.1/modules/export-data.js') }}"></script>

    <script>
        $('.slider-for').slick({
            slidesToShow: 1,
            slidesToScroll: 1,
            arrows: false,
            fade: true,
            asNavFor: '.slider-nav'
        });
        $('.slider-nav').on('init', function(slick){
            slickCurrent = $('.col-lg-4.bg-grey.mt-step-col.slick-current');
            $(slickCurrent).addClass('active');
        });
        $('.slider-nav').slick({
            slidesToShow: 3,
            slidesToScroll: 1,
            asNavFor: '.slider-for',
            dots: true,
            centerMode: true,
            focusOnSelect: true,
        });

        $('.slider-nav').on('afterChange', function(slick, currentSlide){
            currentSlide.$slideTrack.prevObject.each(function(){
                $(this).removeClass('active');
            });

            $(currentSlide.$slideTrack.prevObject[currentSlide.currentSlide]).addClass('active');
        });
    </script>

    <script type="text/javascript">
        {{ chart(chart) }}
    </script>
{% endblock %}

    {% block body %}
        {% if phaseData | length == 0 %}
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="note note-info">
                    <h4 class="block">{% trans %}No data gathered!{% endtrans %}</h4>
                    <p> {% trans %}When you collect the data, in this section you will see the raw data and a scatter diagram for this with a numeric response.{% endtrans %}</p>
                </div>
            </div>
        </div>
        {% else %}
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="portlet light portlet-fit bordered">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="icon-directions font-green hide"></i>
                                <span class="caption-subject bold font-dark uppercase "> {% trans %}Gathered data{% endtrans %}</span>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div class="mt-element-step">
                                <div class="row step-thin">
                                    <div class="slider slider-nav">
                                        {% for data in phaseData %}
                                            <div class="col-lg-4 bg-grey mt-step-col">
                                                <div class="mt-step-number first bg-white font-grey">{{ loop.index }}</div>
                                                <div class="mt-step-title uppercase font-grey-cascade">Date</div>
                                                <div class="mt-step-content font-grey-cascade">{{ data.createdAt | date('Y-m-d H:i') }}</div>
                                            </div>
                                        {% endfor %}
                                    </div>

                                    <div class="slider slider-for">
                                        {% for data in phaseData %}
                                            <div class="mt-element-list">
                                                <div class="mt-list-head list-news font-white bg-blue-chambray">
                                                    <div class="list-head-title-container">
                                                        <h3 class="list-title">{% trans %}Data gathered on{% endtrans %} {{ data.createdAt | date('Y-m-d H:i') }}</h3>
                                                    </div>
                                                </div>
                                                <div class="mt-list-container list-news">
                                                    <ul>
                                                        {% for key, item in data %}
                                                            {% if key != 'createdAt' %}
                                                                <li class="mt-list-item">
                                                                    {% if item.typology == 'choice-checkboxes' %}
                                                                        {% set itemValue = item.value | join(', ') %}
                                                                    {% endif %}

                                                                    {% if item.typology == 'choice-dropdown' %}
                                                                        {% set itemValue = item.value %}
                                                                    {% endif %}

                                                                    {% if item.typology == 'choice-radio' %}
                                                                        {% set itemValue = item.value %}
                                                                    {% endif %}

                                                                    {% if item.typology == 'direct-observation' %}
                                                                        {% set itemValue = item.observationData %}
                                                                    {% endif %}

                                                                    {% if item.typology == 'integer' %}
                                                                        {% set itemValue = item.value %}
                                                                    {% endif %}

                                                                    {% if item.typology == 'range' %}
                                                                        {% set itemValue = item.value %}
                                                                    {% endif %}

                                                                    {% if item.typology == 'meter' %}
                                                                        {% set itemValue = item.value | join(', ') %}
                                                                    {% endif %}

                                                                    {% if item.typology == 'text' %}
                                                                        {% set itemValue = item.value %}
                                                                    {% endif %}

                                                                    <div class="list-datetime bold uppercase font-blue-chambray">{{ key }} {{ item.label }}</div>
                                                                    <div class="list-item-content">
                                                                        <p></p>

                                                                        <h3 class="uppercase">
                                                                            {{ itemValue }}
                                                                        </h3>


                                                                    </div>
                                                                </li>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </ul>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-sm-6">
                    <div class="portlet light portlet-fit bordered">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="icon-directions font-green hide"></i>
                                <span class="caption-subject bold font-dark uppercase "> {% trans %}Phase{% endtrans %} {{ observationPhase.name }} {% trans %}scatter plot{% endtrans %}</span>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div id="linechart" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endblock %}