{% extends 'base.html.twig' %}
{% block title %}
    {{ title }}
{% endblock %}

{% block body %}

    {% if app.request.get('_route') not in ['observation_new', 'entries'] %}
        <li><a href="{{ path("observation_list") }}">Home</a></li>
    {% endif %}
    {% if app.user %}

        <a href="{{ logout_url("secured_area") }}">
            <button type="button" class="btn btn-primary btn-sm">Logout</button>
        </a>
    {% else %}
        <a href="/connect/auth0"><button type="button" class="btn btn-primary btn-sm">Login</button></a>
    {% endif %}

    {% for flashMessage in app.session.flashbag.get('success') %}
        <div>{{ flashMessage }}</div>
    {% endfor %}

    <div class="row">
        <div class="col-md-12 col-md-offset-1">
            <h2>Observation list</h2>

            <table class="table table-stripped table-bordered table-hover">
                <thead>
                <tr>
                    <th>id</th>
                    <th> name</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>

                <tbody>
                {% for record in records %}
                    <tr>
                        <td>{{ record.id }}</td>
                        <td>{{ record. name }}</td>

                        <td><a href="{{ path('observation_edit', {'id': record.id}) }}">
                                {% trans %}Edit{% endtrans %}
                            </a>
                        </td>
                        <td><a href="{{ path('observation_dates', {'id': record.id}) }}">
                                {% trans %}Dates{% endtrans %}
                            </a>
                        </td>
                        <td><a href="{{ path('observation_delete', {'id': record.id}) }}">
                                {% trans %}Delete{% endtrans %}
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <a href="{{ path('observation_new') }}">{% trans %}New{% endtrans %}</a>
        </div>
    </div>
{% endblock %}