{% extends 'base.html.twig' %}
{% block title %}
    {{ title }}
{% endblock %}

{% block body %}
    {% for flashMessage in app.session.flashbag.get('success') %}
        <div>{{ flashMessage }}</div>
    {% endfor %}

    <div class="row">
        <div class="col-md-12 col-md-offset-1">
            <h2>Students observation list</h2>

            <table class="table table-stripped table-bordered table-hover">
                <thead>
                <tr>
                    <th>id</th>
                    <th>name</th>
                    <th>description</th>
                    <th>is enabled</th>
                    <th>observer</th>
                    <th>dates</th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>

                <tbody>
                {% for record in records %}
                    <tr>
                        <td>{{ record.id }}</td>
                        <td>{{ record.name }}</td>
                        <td>{{ record.description }}</td>
                        <td>{{ record.isEnabled }}</td>
                        <td>{{ record.observerUsername }}</td>
                        <td>
                            {% if(record.observationScheduler.hasDates) %}
                                <ul>
                                    {% for date in record.observationDates %}
                                        <li>{{ date.startDateTimestamp.format('Y-m-d H:i') }}
                                            {% if(date.startDateTimestamp != date.endDateTimestamp) %}
                                                -
                                                {{ date.endDateTimestamp.format('H:i') }}
                                            {% endif %}
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% else %}
                                No
                            {% endif %}
                        </td>

                        <td><a href="{{ path('observation_edit', {'id': record.id}) }}">
                                {% trans %}Edit{% endtrans %}
                            </a>
                        </td>
                        <td><a href="{{ path('observation_delete', {'id': record.id}) }}">
                                {% trans %}Delete{% endtrans %}
                            </a>
                        </td>
                        <td><a href="{{ path('observation_phase_list', { 'id': record.id }) }}">
                                {% trans %}Phases{% endtrans %}
                            </a>
                        </td>
                        <td><a href="{{ path('data_list', { 'id': record.id }) }}">
                                {% trans %}Data{% endtrans %}
                            </a>
                        </td>
                        <td><a href="{{ path('data_analysis', { 'id': record.id }) }}">
                                {% trans %}Data analysis{% endtrans %}
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <a href="{{ path('observation_new', { 'id': student.id } ) }}">{% trans %}New{% endtrans %}</a>
        </div>
    </div>
{% endblock %}