{% extends 'base.html.twig' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-4">
            <div class="row text-center">
                {% set itemTypologies = ['Choice', 'Duration', 'Frequency', 'Integer', 'Meter', 'Range', 'Text'] %}

                {% for typology in itemTypologies %}
                    <div class="col-md-6 border typology" style="cursor:move;">{{ typology }}</div>
                {% endfor %}
            </div>
        </div>

        <div class="col-md-8">
            {% for flashMessage in app.session.flashbag.get('success') %}
                <div>{{ flashMessage }}</div>
            {% endfor %}
            {{ form_start(form) }}

            {{ form_row(form.isEnabled) }}
            {{ form_row(form.name) }}
            {{ form_row(form.description) }}

            {{ form_row(form._token) }}

            <div class="items"
                 data-index-item="0"
                 data-prototype-choice="{{ form_widget(form.choiceItems.vars.prototype)|e('html_attr') }}"
                 data-prototype-duration="{{ form_widget(form.durationItems.vars.prototype)|e('html_attr') }}"
                 data-prototype-frequency="{{ form_widget(form.frequencyItems.vars.prototype)|e('html_attr') }}"
                 data-prototype-integer="{{ form_widget(form.integerItems.vars.prototype)|e('html_attr') }}"
                 data-prototype-meter="{{ form_widget(form.meterItems.vars.prototype)|e('html_attr') }}"
                 data-prototype-range="{{ form_widget(form.rangeItems.vars.prototype)|e('html_attr') }}"
                 data-prototype-text="{{ form_widget(form.textItems.vars.prototype)|e('html_attr') }}"
                 >
            </div>

            <!--
            <div class="choiceItems" data-prototype="{{ form_widget(form.choiceItems.vars.prototype)|e('html_attr') }}">
                {% for choiceItem in form.choiceItems %}
                    <ul>
                        <li>{{ form_row(choiceItem.isExpanded) }}</li>
                        <li>{{ form_row(choiceItem.isMultiple) }}</li>
                        <li>{{ form_row(choiceItem.positionNumber) }}</li>
                        <li>{{ form_row(choiceItem.label) }}</li>
                        <li>{{ form_row(choiceItem.emptyValue) }}</li>
                        <li>{{ form_row(choiceItem.options) }}</li>
                    </ul>
                {% endfor %}
            </div>
            -->

            {{ form_row(form.submit) }}



            <!--
            <h3>choiceItems</h3>

            <div class="choiceItems" data-prototype="{{ form_widget(form.choiceItems.vars.prototype)|e('html_attr') }}">
                {% for choiceItem in form.choiceItems %}
                    <ul>
                        <li>{{ form_row(choiceItem.isExpanded) }}</li>
                        <li>{{ form_row(choiceItem.isMultiple) }}</li>
                        <li>{{ form_row(choiceItem.positionNumber) }}</li>
                        <li>{{ form_row(choiceItem.label) }}</li>
                        <li>{{ form_row(choiceItem.emptyValue) }}</li>
                        <li>{{ form_row(choiceItem.options) }}</li>
                    </ul>
                {% endfor %}
            </div>
            <h3>durationItems</h3>

            <div class="durationItems"
                 data-prototype="{{ form_widget(form.durationItems.vars.prototype)|e('html_attr') }}">
                {% for durationItem in form.durationItems %}
                    <ul>
                        <li>{{ form_row(durationItem.positionNumber) }}</li>
                        <li>{{ form_row(durationItem.label) }}</li>
                        <li>{{ form_row(durationItem.fieldValue) }}</li>
                        <li>{{ form_row(durationItem.observationLengthInMinutes) }}</li>
                    </ul>
                {% endfor %}
            </div>
            <h3>frequencyItems</h3>

            <div class="frequencyItems"
                 data-prototype="{{ form_widget(form.frequencyItems.vars.prototype)|e('html_attr') }}">
                {% for frequencyItem in form.frequencyItems %}
                    <ul>
                        <li>{{ form_row(frequencyItem.positionNumber) }}</li>
                        <li>{{ form_row(frequencyItem.label) }}</li>
                        <li>{{ form_row(frequencyItem.fieldValue) }}</li>
                        <li>{{ form_row(frequencyItem.observationLengthInMinutes) }}</li>
                    </ul>
                {% endfor %}
            </div>
            <h3>integerItems</h3>

            <div class="integerItems"
                 data-prototype="{{ form_widget(form.integerItems.vars.prototype)|e('html_attr') }}">
                {% for integerItem in form.integerItems %}
                    <ul>
                        <li>{{ form_row(integerItem.positionNumber) }}</li>
                        <li>{{ form_row(integerItem.label) }}</li>
                        <li>{{ form_row(integerItem.fieldValue) }}</li>
                    </ul>
                {% endfor %}
            </div>
            <h3>meterItems</h3>

            <div class="meterItems" data-prototype="{{ form_widget(form.meterItems.vars.prototype)|e('html_attr') }}">
                {% for meterItem in form.meterItems %}
                    <ul>
                        <li>{{ form_row(meterItem.positionNumber) }}</li>
                        <li>{{ form_row(meterItem.label) }}</li>
                        <li>{{ form_row(meterItem.xValue) }}</li>
                        <li>{{ form_row(meterItem.yValue) }}</li>
                        <li>{{ form_row(meterItem.labelY) }}</li>
                        <li>{{ form_row(meterItem.labelMaxY) }}</li>
                        <li>{{ form_row(meterItem.labelMinY) }}</li>
                        <li>{{ form_row(meterItem.labelX) }}</li>
                        <li>{{ form_row(meterItem.labelMaxX) }}</li>
                        <li>{{ form_row(meterItem.labelMinX) }}</li>
                    </ul>
                {% endfor %}
            </div>
            <h3>rangeItems</h3>

            <div class="rangeItems" data-prototype="{{ form_widget(form.rangeItems.vars.prototype)|e('html_attr') }}">
                {% for rangeItem in form.rangeItems %}
                    <ul>
                        <li>{{ form_row(rangeItem.positionNumber) }}</li>
                        <li>{{ form_row(rangeItem.label) }}</li>
                        <li>{{ form_row(rangeItem.min) }}</li>
                        <li>{{ form_row(rangeItem.max) }}</li>
                        <li>{{ form_row(rangeItem.step) }}</li>
                    </ul>
                {% endfor %}
            </div>
            <h3>textItems</h3>

            <div class="textItems" data-prototype="{{ form_widget(form.textItems.vars.prototype)|e('html_attr') }}">
                {% for textItem in form.textItems %}
                    <ul>
                        <li>{{ form_row(textItem.positionNumber) }}</li>
                        <li>{{ form_row(textItem.label) }}</li>
                        <li>{{ form_row(textItem.fieldValue) }}</li>
                        <li>{{ form_row(textItem.placeholder) }}</li>
                    </ul>
                {% endfor %}
            </div>


            {{ form_end(form) }}
            -->

        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
    var $collectionHolder = $('div.items');

    $( '.typology' ).on('click', function(e){
        e.preventDefault();

        switch($( this ).text()) {
            case 'Choice':
                addItemForm($collectionHolder, 'choice');
                break;

            case 'Duration':
                addItemForm($collectionHolder, 'duration');
                break;

            case 'Frequency':
                addItemForm($collectionHolder, 'frequency');
                break;

            case 'Integer':
                addItemForm($collectionHolder, 'integer');
                break;

            case 'Meter':
                addItemForm($collectionHolder, 'meter');
                break;

            case 'Range':
                addItemForm($collectionHolder, 'range');
                break;

            case 'Text':
                addItemForm($collectionHolder, 'text');
        }
    });

    function addItemForm($collectionHolder, type) {

        var prototype = $collectionHolder.data('prototype-' + type);

        var index = $collectionHolder.data('index-item');

        $collectionHolder.data('index-item', parseInt(index) + 1);

        var newForm = prototype.replace(/__name__/g, index);

        var $newFormLi = $collectionHolder.append(newForm);

        lastPositionNumber = $( "input[name*='positionNumber']" ).eq(-2).val();
        lastPositionNumber = (isNaN(parseInt(lastPositionNumber))) ? '0' : parseInt(lastPositionNumber);

        $( "input[name*='positionNumber']" ).last().val(parseInt(lastPositionNumber) + 1);

        addItemFormDeleteLink($collectionHolder);
    }

    function addItemFormDeleteLink($collectionHolder) {
        var $removeFormA = $('<a href="#">-</a>');
        var index = $collectionHolder.data('index-item');

        $( '.items' ).append($removeFormA);

        $removeFormA.on('click', function (e) {
            e.preventDefault();

            $( this ).prev().remove();
            $( this ).remove();

            $collectionHolder.data('index-item', index - 1);

            $( "input[id*='positionNumber']").each(function( key, value ){

                positionNumber = parseInt(key) + 1;

                $ ( this ).val(positionNumber);

            });

        });
    }

    </script>
{% endblock %}