{% extends 'base.html.twig' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script>
        $( "#observation_observerUsername" ).autocomplete({
            source: "{{ path('user_search') }}",
            minLength: 2,
            select: function( event, ui ) {
                event.preventDefault();
                $('#observation_observerUsername').val(jQuery(ui.item.label).text());
                $('#observation_observerUserId').val(ui.item.value);
            },
            focus: function(event, ui) {
                event.preventDefault();
                $("#observation_observerUsername").val(jQuery(ui.item.label).text());
            }
        }).data( "ui-autocomplete" )._renderItem = function( ul, item ) {
                return $( "<li>" )
                        .attr( "data-value", item.value )
                        .append( item.label).html(item.label)
                        .appendTo( ul );
            };


    </script>

{% endblock %}

{% block body %}

    {% for flashMessage in app.session.flashbag.get('success') %}
        <div>{{ flashMessage }}</div>
    {% endfor %}
    {{ form_start(form) }}

    {{ form_row(form.isEnabled) }}
    {{ form_row(form.name) }}
    {{ form_row(form.description) }}
    {{ form_row(form.measure) }}
    {{ form_row(form.observerUsername) }}
    {{ form_row(form.observerUserId) }}

    {{ form_row(form._token) }}

    {{ form_row(form.submit) }}
    {{ form_end(form, {'render_rest': false}) }}



{% endblock %}