{% extends 'base.html.twig' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-4">
            <div class="row text-center">
                {% set itemTypologies = ['Behavioral Recording', 'Choice', 'Integer', 'Interval Recording', 'Meter', 'Range', 'Text'] %}

                {% for typology in itemTypologies %}
                    <div class="col-md-6 border typology" style="cursor:move;">{{ typology }}</div>
                {% endfor %}
            </div>
        </div>

        <div class="col-md-8">
            {% for flashMessage in app.session.flashbag.get('success') %}
                <div>{{ flashMessage }}</div>
            {% endfor %}
            {{ form_start(form) }}

            {{ form_row(form.isEnabled) }}
            {{ form_row(form.name) }}
            {{ form_row(form.description) }}

            {{ form_row(form._token) }}

            {% set itemNumber = (numberOfItems is defined) ? numberOfItems + 1 : 1 %}

            <div class="items"
                 data-index-item="0"
                 data-item-number="{{ itemNumber }}"
                 data-prototype-choice="{{ form_widget(form.choiceItems.vars.prototype)|e('html_attr') }}"
                 data-prototype-behavioral-recording="{{ form_widget(form.behavioralRecordingItems.vars.prototype)|e('html_attr') }}"
                 data-prototype-interval-recording="{{ form_widget(form.intervalRecordingItems.vars.prototype)|e('html_attr') }}"
                 data-prototype-integer="{{ form_widget(form.integerItems.vars.prototype)|e('html_attr') }}"
                 data-prototype-meter="{{ form_widget(form.meterItems.vars.prototype)|e('html_attr') }}"
                 data-prototype-range="{{ form_widget(form.rangeItems.vars.prototype)|e('html_attr') }}"
                 data-prototype-text="{{ form_widget(form.textItems.vars.prototype)|e('html_attr') }}"
                 >

                {% if numberOfItems is defined %}
                    {% for positionNumber in 1..numberOfItems %}
                        {% for choiceItem in form.choiceItems %}
                            {% if positionNumber == choiceItem.vars.value.positionNumber %}
                                <div>
                                    <h3>Item {{ positionNumber }}</h3>
                                    {{ form_row(choiceItem.isExpanded) }}
                                    {{ form_row(choiceItem.isMultiple) }}
                                    {{ form_row(choiceItem.positionNumber) }}
                                    {{ form_row(choiceItem.label) }}
                                    {{ form_row(choiceItem.emptyValue) }}
                                    {{ form_row(choiceItem.options) }}
                                </div>
                                <a href="#" class="remove-item">-</a>
                            {% endif %}
                        {% endfor %}

                        {% for behavioralRecordingItem in form.behavioralRecordingItems %}
                            {% if positionNumber == behavioralRecordingItem.vars.value.positionNumber %}
                                <div>
                                    <h3>Item {{ positionNumber }}</h3>
                                    {{ form_row(behavioralRecordingItem.label) }}
                                    {{ form_row(behavioralRecordingItem.observationLengthInMinutes) }}
                                    {{ form_row(behavioralRecordingItem.positionNumber) }}
                                </div>
                                <a href="#" class="remove-item">-</a>
                            {% endif %}
                        {% endfor %}

                        {% for intervalRecordingItem in form.intervalRecordingItems %}
                            {% if positionNumber == intervalRecordingItem.vars.value.positionNumber %}
                                <div>
                                    <h3>Item {{ positionNumber }}</h3>
                                    {{ form_row(intervalRecordingItem.label) }}
                                    {{ form_row(intervalRecordingItem.observationLengthInMinutes) }}
                                    {{ form_row(intervalRecordingItem.positionNumber) }}
                                </div>
                                <a href="#" class="remove-item">-</a>
                            {% endif %}
                        {% endfor %}

                        {% for integerItem in form.integerItems %}
                            {% if positionNumber == integerItem.vars.value.positionNumber %}
                                <div>
                                    <h3>Item {{ positionNumber }}</h3>
                                    {{ form_row(integerItem.label) }}
                                    {{ form_row(integerItem.fieldValue) }}
                                    {{ form_row(integerItem.positionNumber) }}
                                </div>
                                <a href="#" class="remove-item">-</a>
                            {% endif %}
                        {% endfor %}

                        {% for meterItem in form.meterItems %}
                            {% if positionNumber == meterItem.vars.value.positionNumber %}
                                <div>
                                    <h3>Item {{ positionNumber }}</h3>
                                    {{ form_row(meterItem.label) }}
                                    {{ form_row(meterItem.xValue) }}
                                    {{ form_row(meterItem.yValue) }}
                                    {{ form_row(meterItem.labelY) }}
                                    {{ form_row(meterItem.labelMaxY) }}
                                    {{ form_row(meterItem.labelMinY) }}
                                    {{ form_row(meterItem.labelX) }}
                                    {{ form_row(meterItem.labelMaxX) }}
                                    {{ form_row(meterItem.labelMinX) }}
                                    {{ form_row(meterItem.positionNumber) }}
                                </div>
                                <a href="#" class="remove-item">-</a>
                            {% endif %}
                        {% endfor %}

                        {% for rangeItem in form.rangeItems %}
                            {% if positionNumber == rangeItem.vars.value.positionNumber %}
                                <div>
                                    <h3>Item {{ positionNumber }}</h3>
                                    {{ form_row(rangeItem.label) }}
                                    {{ form_row(rangeItem.min) }}
                                    {{ form_row(rangeItem.max) }}
                                    {{ form_row(rangeItem.step) }}
                                    {{ form_row(rangeItem.positionNumber) }}
                                </div>
                                <a href="#" class="remove-item">-</a>
                            {% endif %}
                        {% endfor %}

                        {% for textItem in form.textItems %}
                            {% if positionNumber == textItem.vars.value.positionNumber %}
                                <div>
                                    <h3>Item {{ positionNumber }}</h3>
                                    {{ form_row(textItem.label) }}
                                    {{ form_row(textItem.fieldValue) }}
                                    {{ form_row(textItem.placeholder) }}
                                    {{ form_row(textItem.positionNumber) }}
                                </div>
                                <a href="#" class="remove-item">-</a>
                            {% endif %}
                        {% endfor %}

                    {% endfor %}
                {% endif %}

            </div>

            {{ form_row(form.submit) }}
            {{ form_end(form, {'render_rest': false}) }}

        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
    var $collectionHolder = $('div.items');

    $( document ).ready(function() {
        $( '.remove-item' ).on('click', function (e) {
            e.preventDefault();

            $( this ).prev().remove();
            $( this ).prev().remove();
            $( this ).remove();

            $collectionHolder.data('index-item', index - 1);

            resetPositionNumbers();
        });
    });

    $( '.typology' ).on('click', function(e){
        e.preventDefault();

        switch($( this ).text()) {
            case 'Choice':
                addItemForm('choice');
                break;

            case 'Behavioral Recording':
                addItemForm('behavioral-recording');
                break;

            case 'Interval Recording':
                addItemForm('interval-recording');
                break;

            case 'Integer':
                addItemForm('integer');
                break;

            case 'Meter':
                addItemForm('meter');
                break;

            case 'Range':
                addItemForm('range');
                break;

            case 'Text':
                addItemForm('text');
        }
    });

    function addItemForm(type) {

        prototype = $collectionHolder.data('prototype-' + type);

        index = $collectionHolder.attr('data-index-item');
        newIndex = parseInt(index) + 1;
        itemNumber = $collectionHolder.attr('data-item-number');
        newItemNumber = parseInt(itemNumber) + 1;

        newForm = prototype.replace(/__name__/g, index);

        $collectionHolder.append('<h3>Item ' + itemNumber + '</h3>');
        $collectionHolder.append(newForm);

        $( "input[name*='positionNumber']" ).last().val(newIndex);

        $collectionHolder.attr('data-index-item', newIndex);
        $collectionHolder.attr('data-item-number', newItemNumber);

        addItemFormDeleteLink();
    }

    function addItemFormDeleteLink() {
        $removeFormA = $('<a href="#" class="remove-item">-</a>');

        $( '.items' ).append($removeFormA);

        $removeFormA.on('click', function (e) {
            console.log($(this));

            e.preventDefault();

            $( this ).prev().remove();
            $( this ).prev().remove();
            $( this ).remove();

            index = $collectionHolder.data('index-item');
            $collectionHolder.attr('data-index-item', index - 1);

            resetPositionNumbers();
        });
    }

    function resetPositionNumbers()
    {
        $( "input[id*='positionNumber']" ).each(function( key, value ){

            positionNumber = parseInt(key) + 1;

            $ ( this ).val(positionNumber);

        });
    }

    </script>
{% endblock %}