{% extends 'base.html.twig' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-4">
            <div class="row text-center">
                {% set itemTypologies = ['Choice', 'Double', 'Duration', 'Frequency', 'Range', 'Text'] %}

                {% for typology in itemTypologies %}
                    <div class="col-md-6 border" style="cursor:move;" draggable="true" ondragstart="handleDragStart(event);">
                        {{ typology }}
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="col-md-8">
            {% for flashMessage in app.session.flashbag.get('success') %}
                <div>{{ flashMessage }}</div>
            {% endfor %}
            {{ form_start(form) }}

            {{ form_row(form.isEnabled) }}
            {{ form_row(form.name) }}
            {{ form_row(form.description) }}



            <div id="target" class="col-md-8" ondrop="" ondragover=""></div>

            {{ form_row(form._token) }}


            <h3>choiceItems</h3>
            <div class="choiceItems" data-prototype="{{ form_widget(form.choiceItems.vars.prototype)|e('html_attr') }}">
                {% for choiceItem in form.choiceItems %}
                    <ul>
                        <li>{{ form_row(choiceItem.positionNumber) }}</li>
                        <li>{{ form_row(choiceItem.label) }}</li>
                        <li>{{ form_row(choiceItem.emptyValue) }}</li>
                        <li>{{ form_row(choiceItem.isExpanded) }}</li>
                        <li>{{ form_row(choiceItem.isMultiple) }}</li>
                        <li>{{ form_row(choiceItem.options) }}</li>
                    </ul>
                {% endfor %}
            </div>
            <h3>durationItems</h3>
            <div class="durationItems" data-prototype="{{ form_widget(form.durationItems.vars.prototype)|e('html_attr') }}">
                {% for durationItem in form.durationItems %}
                    <ul>
                        <li>{{ form_row(durationItem.positionNumber) }}</li>
                        <li>{{ form_row(durationItem.label) }}</li>
                        <li>{{ form_row(durationItem.fieldValue) }}</li>
                        <li>{{ form_row(durationItem.observationLengthInMinutes) }}</li>
                    </ul>
                {% endfor %}
            </div>
            <h3>frequencyItems</h3>
            <div class="frequencyItems" data-prototype="{{ form_widget(form.frequencyItems.vars.prototype)|e('html_attr') }}">
                {% for frequencyItem in form.frequencyItems %}
                    <ul>
                        <li>{{ form_row(frequencyItem.positionNumber) }}</li>
                        <li>{{ form_row(frequencyItem.label) }}</li>
                        <li>{{ form_row(frequencyItem.fieldValue) }}</li>
                        <li>{{ form_row(frequencyItem.observationLengthInMinutes) }}</li>
                    </ul>
                {% endfor %}
            </div>
            <h3>rangeItems</h3>
            <div class="rangeItems" data-prototype="{{ form_widget(form.rangeItems.vars.prototype)|e('html_attr') }}">
                {% for rangeItem in form.rangeItems %}
                    <ul>
                        <li>{{ form_row(rangeItem.positionNumber) }}</li>
                        <li>{{ form_row(rangeItem.label) }}</li>
                        <li>{{ form_row(rangeItem.min) }}</li>
                        <li>{{ form_row(rangeItem.max) }}</li>
                        <li>{{ form_row(rangeItem.step) }}</li>
                    </ul>
                {% endfor %}
            </div>
            <h3>textItems</h3>
            <div class="textItems" data-prototype="{{ form_widget(form.textItems.vars.prototype)|e('html_attr') }}">
                {% for textItem in form.textItems %}
                    <ul>
                        <li>{{ form_row(textItem.positionNumber) }}</li>
                        <li>{{ form_row(textItem.label) }}</li>
                        <li>{{ form_row(textItem.fieldValue) }}</li>
                        <li>{{ form_row(textItem.placeholder) }}</li>
                    </ul>
                {% endfor %}
            </div>

            {{ form_end(form) }}

        </div>
    </div>
{% endblock %}



{% block javascripts %}
    {{ parent() }}


    <script>
        function handleDragStart(e) {
            console.log(e.target.style);

            e.target.style.opacity = '0.4';  // this / e.target is the source node.
        }
    </script>

    <script>
        var $collectionHolder1;
        var $addChoiceitemLink = $('<a href="#" class="addChoiceitemLink">+</a>');

        var $newChoiceitemLinkLi = $('<li></li>').append($addChoiceitemLink);
        var $collectionHolder2;
        var $addDurationitemLink = $('<a href="#" class="addDurationitemLink">+</a>');

        var $newDurationitemLinkLi = $('<li></li>').append($addDurationitemLink);
        var $collectionHolder3;
        var $addFrequencyitemLink = $('<a href="#" class="addFrequencyitemLink">+</a>');

        var $newFrequencyitemLinkLi = $('<li></li>').append($addFrequencyitemLink);
        var $collectionHolder4;
        var $addRangeitemLink = $('<a href="#" class="addRangeitemLink">+</a>');

        var $newRangeitemLinkLi = $('<li></li>').append($addRangeitemLink);
        var $collectionHolder5;
        var $addTextitemLink = $('<a href="#" class="addTextitemLink">+</a>');

        var $newTextitemLinkLi = $('<li></li>').append($addTextitemLink);

        jQuery(document).ready(function () {
            $collectionHolder1 = $('div.choiceItems');
            $collectionHolder1.append($newChoiceitemLinkLi);

            $collectionHolder1.find('ul').each(function () {
                addChoiceitemFormDeleteLink($(this));
            });

            $collectionHolder1.data('index', $collectionHolder1.find(':input').length);

            $addChoiceitemLink.on('click', function (e) {
                e.preventDefault();

                addChoiceitemForm($collectionHolder1, $newChoiceitemLinkLi);
            });
            $collectionHolder2 = $('div.durationItems');
            $collectionHolder2.append($newDurationitemLinkLi);

            $collectionHolder2.find('ul').each(function () {
                addDurationitemFormDeleteLink($(this));
            });

            $collectionHolder2.data('index', $collectionHolder2.find(':input').length);

            $addDurationitemLink.on('click', function (e) {
                e.preventDefault();

                addDurationitemForm($collectionHolder2, $newDurationitemLinkLi);
            });
            $collectionHolder3 = $('div.frequencyItems');
            $collectionHolder3.append($newFrequencyitemLinkLi);

            $collectionHolder3.find('ul').each(function () {
                addFrequencyitemFormDeleteLink($(this));
            });

            $collectionHolder3.data('index', $collectionHolder3.find(':input').length);

            $addFrequencyitemLink.on('click', function (e) {
                e.preventDefault();

                addFrequencyitemForm($collectionHolder3, $newFrequencyitemLinkLi);
            });
            $collectionHolder4 = $('div.rangeItems');
            $collectionHolder4.append($newRangeitemLinkLi);

            $collectionHolder4.find('ul').each(function () {
                addRangeitemFormDeleteLink($(this));
            });

            $collectionHolder4.data('index', $collectionHolder4.find(':input').length);

            $addRangeitemLink.on('click', function (e) {
                e.preventDefault();

                addRangeitemForm($collectionHolder4, $newRangeitemLinkLi);
            });
            $collectionHolder5 = $('div.textItems');
            $collectionHolder5.append($newTextitemLinkLi);

            $collectionHolder5.find('ul').each(function () {
                addTextitemFormDeleteLink($(this));
            });

            $collectionHolder5.data('index', $collectionHolder5.find(':input').length);

            $addTextitemLink.on('click', function (e) {
                e.preventDefault();

                addTextitemForm($collectionHolder5, $newTextitemLinkLi);
            });

        })

        function addChoiceitemForm($collectionHolder, $newLinkLi) {

            var prototype = $collectionHolder.data('prototype');

            var index = $collectionHolder.data('index');

            var newForm = prototype.replace(/__name__/g, index);

            $collectionHolder.data('index', index + 1);

            var $newFormLi = $('<li></li>').append(newForm);

            $newLinkLi.before($newFormLi);

            addChoiceitemFormDeleteLink($newFormLi);
        }

        function addChoiceitemFormDeleteLink($tagFormLi) {
            var $removeFormA = $('<a href="#">-</a>');
            $tagFormLi.append($removeFormA);

            $removeFormA.on('click', function (e) {
                e.preventDefault();

                $tagFormLi.remove();
            });
        }
        function addDurationitemForm($collectionHolder, $newLinkLi) {

            var prototype = $collectionHolder.data('prototype');

            var index = $collectionHolder.data('index');

            var newForm = prototype.replace(/__name__/g, index);

            $collectionHolder.data('index', index + 1);

            var $newFormLi = $('<li></li>').append(newForm);

            $newLinkLi.before($newFormLi);

            addDurationitemFormDeleteLink($newFormLi);
        }

        function addDurationitemFormDeleteLink($tagFormLi) {
            var $removeFormA = $('<a href="#">-</a>');
            $tagFormLi.append($removeFormA);

            $removeFormA.on('click', function (e) {
                e.preventDefault();

                $tagFormLi.remove();
            });
        }
        function addFrequencyitemForm($collectionHolder, $newLinkLi) {

            var prototype = $collectionHolder.data('prototype');

            var index = $collectionHolder.data('index');

            var newForm = prototype.replace(/__name__/g, index);

            $collectionHolder.data('index', index + 1);

            var $newFormLi = $('<li></li>').append(newForm);

            $newLinkLi.before($newFormLi);

            addFrequencyitemFormDeleteLink($newFormLi);
        }

        function addFrequencyitemFormDeleteLink($tagFormLi) {
            var $removeFormA = $('<a href="#">-</a>');
            $tagFormLi.append($removeFormA);

            $removeFormA.on('click', function (e) {
                e.preventDefault();

                $tagFormLi.remove();
            });
        }
        function addRangeitemForm($collectionHolder, $newLinkLi) {

            var prototype = $collectionHolder.data('prototype');

            var index = $collectionHolder.data('index');

            var newForm = prototype.replace(/__name__/g, index);

            $collectionHolder.data('index', index + 1);

            var $newFormLi = $('<li></li>').append(newForm);

            $newLinkLi.before($newFormLi);

            addRangeitemFormDeleteLink($newFormLi);
        }

        function addRangeitemFormDeleteLink($tagFormLi) {
            var $removeFormA = $('<a href="#">-</a>');
            $tagFormLi.append($removeFormA);

            $removeFormA.on('click', function (e) {
                e.preventDefault();

                $tagFormLi.remove();
            });
        }
        function addTextitemForm($collectionHolder, $newLinkLi) {

            var prototype = $collectionHolder.data('prototype');

            var index = $collectionHolder.data('index');

            var newForm = prototype.replace(/__name__/g, index);

            $collectionHolder.data('index', index + 1);

            var $newFormLi = $('<li></li>').append(newForm);

            $newLinkLi.before($newFormLi);

            addTextitemFormDeleteLink($newFormLi);
        }

        function addTextitemFormDeleteLink($tagFormLi) {
            var $removeFormA = $('<a href="#">-</a>');
            $tagFormLi.append($removeFormA);

            $removeFormA.on('click', function (e) {
                e.preventDefault();

                $tagFormLi.remove();
            });
        }


    </script>

{% endblock %}