{% extends 'base.html.twig' %}

{% block title %}
{% endblock %}

{% block breadcrumbs %}
    <li>
        <a href="{{ path('dashboard') }}">Home</a>
    </li>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('theme/assets/global/plugins/fullcalendar/fullcalendar.min.css') }}">
    <link rel="stylesheet" href="{{ asset('theme/assets/global/css/components.min.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment-with-locales.min.js"></script>
    <script src="{{ asset('theme/assets/global/plugins/fullcalendar/fullcalendar.min.js') }}"></script>

    {% if app.request.locale != 'en' %}
        <script src="{{ asset('theme/assets/global/plugins/fullcalendar/lang/' ~ app.request.locale ~ '.js') }}"></script>

    {% else %}
        <script src="{{ asset('theme/assets/global/plugins/fullcalendar/lang/en-gb.js') }}"></script>
    {% endif %}

    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="{{ asset('theme/assets/apps/scripts/calendar-dashboard.js') }}"></script>
    <script src="{{ asset('theme/assets/global/plugins/jquery-easypiechart/jquery.easypiechart.min.js') }}"></script>
    <script src="{{ asset('theme/assets/global/plugins/counterup/jquery.waypoints.min.js') }}"></script>
    <script src="{{ asset('theme/assets/global/plugins/counterup/jquery.counterup.min.js') }}"></script>

    <script>
        {% set backgroundColors = [
            'red',
            'yellow',
            'purple',
            'green',
            'grey',
            'blue'
        ]
        %}

        {% set backgroundColorsWithoutDates = [
            '#093145',
            '#107896',
            '#829356',
            '#BCA136',
            '#C2571A',
            '#9A2617'
        ]
        %}

        AppCalendar.setScheduledDates(
                [
                    {% if((observationDates | length) > 0) %}
                    {% for observationDate in observationDates %}
                    {
                        {% if (observationDate.startDateTimestamp | date('H:i:s')) == '00:00:00' and observationDate.endDateTimestamp | date('H:i:s') == '23:59:59' %}
                        {% set allDay = 'true' %}
                        {% else %}
                        {% set allDay = 'false' %}
                        {% endif %}

                        {% if(loop.index0 != 0) %}
                        {% if(observationDate.observation.id != observationDates[loop.index0 - 1].observation.id) %}
                        {% set indexBackgroundColor = indexBackgroundColor + 1 %}
                        {% endif %}

                        {% else %}
                        {% set indexBackgroundColor = 0 %}
                        {% endif %}

                        title: '{{ observationDate.observation.student.studentId | upper }}\n{{ observationDate.observation.name }}',
                        start: new Date({{ observationDate.startDateTimestamp | date('Y') }}, {{ observationDate.startDateTimestamp | date('n') - 1 }}, {{ observationDate.startDateTimestamp | date('j') }}, {{ observationDate.startDateTimestamp | date('H') }}, {{ observationDate.startDateTimestamp | date('i') }}),
                        end: new Date({{ observationDate.endDateTimestamp | date('Y') }}, {{ observationDate.endDateTimestamp | date('n') - 1 }}, {{ observationDate.endDateTimestamp | date('j') }}, {{ observationDate.endDateTimestamp | date('H') }}, {{ observationDate.endDateTimestamp | date('i') }}),
                        allDay: {{ allDay }},
                        backgroundColor: App.getBrandColor('{{ cycle(backgroundColors, indexBackgroundColor) }}'),
                        observationId: '{{ observationDate.observation.id }}',
                        observationToken: '{{ observationDate.observation.token }}'
                    }{% if loop.index != observationDates | length %},
                    {% endif %}
                    {% endfor %}
                    {% endif %}
                ]
        );
        AppCalendar.setObservationsWithoutDates(
                [
                    {% if((observationsWithoutDates | length) > 0) %}
                    {% for observationWithoutDate in observationsWithoutDates %}
                    {
                        title: '{{ observationWithoutDate.student.studentId | upper }}\n{{ observationWithoutDate.name }}',
                        backgroundColor: '{{ cycle(backgroundColorsWithoutDates, loop.index0) }}',
                        observationId: '{{ observationWithoutDate.id }}',
                        observationToken: '{{ observationWithoutDate.token }}'

                    }{% if loop.index != observationsWithoutDates | length %},
                    {% endif %}
                    {% endfor %}
                    {% endif %}
                ]
        );

        $('.easy-pie-chart .number.transactions').easyPieChart({
            animate: 1000,
            size: 75,
            lineWidth: 3,
            barColor: App.getBrandColor('yellow')
        });

        $('.easy-pie-chart .number.visits').easyPieChart({
            animate: 1000,
            size: 75,
            lineWidth: 3,
            barColor: App.getBrandColor('green')
        });

        $('.easy-pie-chart .number.bounce').easyPieChart({
            animate: 1000,
            size: 75,
            lineWidth: 3,
            barColor: App.getBrandColor('red')
        });

        $('.easy-pie-chart-reload').click(function() {
            $('.easy-pie-chart .number').each(function() {
                var newValue = Math.floor(100 * Math.random());
                $(this).data('easyPieChart').update(newValue);
                $('span', this).text(newValue);
            });
        });

    </script>
{% endblock %}

{% block body %}
    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}

    <div class="row">

    </div>

    <div class="row" data-intro="{% trans from 'tutorial' %}The general stats panel summarizes information about your activity on the BEHAVE application.{% endtrans %}" data-step="1">
        <div class="col-lg-12 col-xs-12 col-sm-12">
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-cursor font-dark hide"></i>
                        <span class="caption-subject font-dark bold uppercase">{% trans %}General stats{% endtrans %}</span>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" data-intro="{% trans from 'tutorial' %}Here you can find the number of students you are working with.{% endtrans %}" data-step="2">
                            <a class="dashboard-stat dashboard-stat-v2 blue" href="{{ path('student_list') }}">
                                <div class="visual">
                                    <i class="fa fa-user"></i>
                                </div>
                                <div class="details">
                                    <div class="number">
                                        <span data-counter="counterup" data-value="{{ numberOfStudents }}">0</span>
                                    </div>
                                    <div class="desc"> {% trans %}Number of students{% endtrans %} </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4 col-md-4 col-sm-6 col-xs-12" data-intro="{% trans from 'tutorial' %}The percentage of Categorised data indicates how many data you associated to a data collection phase. When an observation is done, the system doesn't know a priori if data is taken during o baseline or an intervention. You have to do it manually to have maximum control over your data.{% endtrans %} " data-step="3">
                            <div class="easy-pie-chart">
                                <div class="number transactions" data-percent="{{ percentageCategorizedData }}">
                                    <span>{{ percentageCategorizedData  }}</span>% </div>
                                    {% trans %}Categorised data{% endtrans %}
                                </a>
                            </div>
                        </div>
                        <div class="margin-bottom-10 visible-sm"> </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" data-intro="{% trans from 'tutorial' %}This box shows how many measures you have inserted.{% endtrans %} " data-step="4">
                            <a class="dashboard-stat dashboard-stat-v2 purple" href="{{ path('measure_list') }}">
                                <div class="visual">
                                    <i class="fa fa-bar-chart-o"></i>
                                </div>
                                <div class="details">
                                    <div class="number">
                                        <span data-counter="counterup" data-value="{{ numberOfMeasures }}">0</span>
                                    </div>
                                    <div class="desc"> {% trans %}Number of measures{% endtrans %} </div>
                                </div>
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-md-6" data-intro="{% trans from 'tutorial' %}The calendar reminds you the observations planned for today. Just click on one of the boxes to go to the data collection section.{% endtrans %}" data-step="5">
            <div class="portlet light portlet-fit bordered calendar">
                <div class="portlet-title">
                    <div class="caption">
                        <i class=" icon-layers font-dark"></i>
                        <span class="caption-subject font-dark sbold uppercase">{% trans %}Calendar{% endtrans %}</span>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <div id="calendar" class="has-toolbar"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6" data-intro="{% trans from 'tutorial' %}Here you can find observation data that has not yet been categorized.{% endtrans %}" data-step="6">
            <!-- BEGIN SAMPLE TABLE PORTLET-->
            <div class="portlet light portlet-fit bordered calendar">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-layers font-dark"></i>
                        <span class="caption-subject font-dark sbold uppercase">{% trans %}Data to be categorised{% endtrans %}</span>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="table-scrollable">
                        <table class="table table-striped table-bordered table-advance table-hover">
                            <thead>
                            <tr>
                                <th>
                                    <i class="fa fa-user"></i> {% trans %}Student Id{% endtrans %}
                                </th>
                                <th class="hidden-xs">
                                    <i class="fa fa-eye"></i> {% trans %}Name of the Observation{% endtrans %}
                                </th>
                                <th class="hidden-xs">
                                    <i class="fa fa-list-alt"></i> {% trans %}Description{% endtrans %}
                                </th>
                                <th>
                                    <i class="fa fa-folder-open"></i> {% trans %}Uncategorized data{% endtrans %}
                                </th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for data in dataToBeCategorized %}
                                <tr>
                                    <td class="highlight">
                                        <div class="success"></div>
                                        <a href="{{ path('observation_student_list', { 'id' : data.student.id } ) }}"> {{ data.student.studentId }} </a>
                                    </td>
                                    <td class="hidden-xs"> {{ data.observation.name }} </td>
                                    <td class="hidden-xs"> {{ data.observation.description }} </td>
                                    <td> {{ data.numberOfUncategorizedData }} </td>
                                    <td>
                                        <a href="{{ path('observation_phase_list', { 'id' : data.observation.id }) }}"
                                           class="btn btn-outline btn-circle btn-sm dark black">
                                            <i class="fa fa-search"></i> {% trans %}View{% endtrans %}</a>
                                    </td>
                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}