{% extends 'base.html.twig' %}

{% block breadcrumbs %}
    <li>
        <a href="{{ path('homepage') }}">{% trans %}Home{% endtrans %}</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <a href="{{ path('student_list') }}">{% trans %}Students{% endtrans %}</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <span>{{ student.studentId }}</span>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <span>{% trans %}Health information{% endtrans %}</span>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <span>{% trans %}List{% endtrans %}</span>
    </li>
{% endblock %}

{% block pageTitle %}
    {% trans %}Health information{% endtrans %}
{% endblock %}

{% block title %}
    {{ title }}
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('theme/assets/global/plugins/datatables/datatables.min.css') }}">
    <link rel="stylesheet"
          href="{{ asset('theme/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css') }}">
{% endblock %}

{% block body %}
    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}


    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN EXAMPLE TABLE PORTLET-->
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption font-dark">
                        <i class="icon-settings font-dark"></i>
                        <span class="caption-subject bold uppercase"> {% trans %}List{% endtrans %} </span>
                    </div>
                    <div class="actions">
                        <a id="add-button" class="btn btn-circle btn-icon-only btn-default" href="javascript:;">
                            <i class="fa fa-plus"></i>
                        </a>
                        <a id="edit-button" class="btn btn-circle btn-icon-only btn-default" href="javascript:;">
                            <i class="fa fa-edit"></i>
                        </a>
                        <a id="delete-button" class="btn btn-circle btn-icon-only btn-default" href="javascript:;">
                            <i class="fa fa-trash"></i>
                        </a>
                    </div>
                </div>
                <div class="portlet-body">
                    <table class="table table-striped table-bordered table-hover table-checkable order-column"
                           id="observation-datatable">
                        <thead>
                        <tr>
                            <th>
                                <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                    <input type="checkbox" class="group-checkable" data-set="#observation-datatable .checkboxes"/>
                                    <span></span>
                                </label>
                            </th>
                            <th> {% trans %}Disorder{% endtrans %}</th>
                            <th> {% trans %}Age of onset{% endtrans %}</th>
                            <th> {% trans %}Medical condition{% endtrans %}</th>
                            <th> {% trans %}Comorbid disorders{% endtrans %}</th>
                        </tr>
                        </thead>
                        <tbody>

                        {% for record in records %}
                            <tr class="odd gradeX">
                                <td>
                                    <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                        <input type="checkbox" class="checkboxes" value="{{ record.id }}"/>
                                        <span></span>
                                    </label>
                                </td>
                                <td> {{ record.dsm5Disorder }} </td>
                                <td>
                                    {{ record.ageOfOnset }}
                                </td>
                                <td>
                                    {{ record.medicalCondition}}
                                </td>
                                <td>{{ record.getStringComorbidDsm5Disorders }}</td>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>


                </div>
            </div>
            <!-- END EXAMPLE TABLE PORTLET-->

            <div class="modal fade" id="basic" tabindex="-1" role="basic" aria-hidden="true" style="display: none;">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                            <h4 class="modal-title">{% trans %}Warning{% endtrans %}</h4>
                        </div>
                        <div class="modal-body"> {% trans %}Are you sure you want to delete this health information?{% endtrans %}</div>
                        <div class="modal-footer">
                            <button type="button" class="btn dark btn-outline" data-dismiss="modal">{% trans %}Close{% endtrans %}</button>
                            <button id="confirm-delete" type="button" class="btn red" data-url="">{% trans %}Yes, delete{% endtrans %}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('theme/assets/global/plugins/datatables/datatables.min.js') }}"></script>
    <script src="{{ asset('theme/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js') }}"></script>
    <script src="{{ asset('theme/assets/pages/scripts/table-datatables-managed.js') }}"></script>
    <script src="{{ asset('theme/assets/global/plugins/jquery-bootpag/jquery.bootpag.min.js') }}"></script>
    <script src="{{ asset('theme/assets/pages/scripts/ui-general.min.js') }}"></script>

    <script>
        $( document ).ready(function() {
            $('#edit-button').addClass('opaque');
            $('#delete-button').addClass('opaque');
        });

        $('#add-button').on('click', function(){
            if(!$(this).hasClass('opaque')) {
                location.assign('{{ path('student_health_information_new', { 'id': student.id }) }}');
            }
        });

        $('#edit-button').on('click', function(e){
            e.preventDefault();

            if(!$(this).hasClass('opaque')) {
                location.assign('/student-health-information/{{ app.request.locale }}/edit/' + $("#observation-datatable :checked").val());
            }
        });

        $('#delete-button').on('click', function(e){
            e.preventDefault();

            if(!$(this).hasClass('opaque')) {
                ids = [];

                $('.checkboxes').each(function() {
                    if($(this).is(':checked')) {
                        ids.push($(this).val());
                    }
                });

                if(ids.length > 0) {
                    $('#basic').modal('show');

                    $('#confirm-delete').data('url', '/student-health-information/delete/{{ student.id }}/' + encodeURIComponent(JSON.stringify(ids)));
                }
            }
        });

        $('#confirm-delete').click(function( event ) {
            window.location.href = $('#confirm-delete').data('url');
        });
    </script>
{% endblock %}